{% extends 'adci_plantilla.html' %}
{% block usci_contenido %}

<div class="col-lg-8">
  <div class="row">
    <div class="col-lg-12">
      <!-- TABLA -->
      <div class="card overflow-hidden">
        <div class="card-body p-4">
          <h5 class="card-title mb-9 fw-semibold">Proceso de Comprobante</h5><br>
          <div class="row align-items-center">
            <form action="/adci_inicio/aggcont_adci/" method="POST" id="vldt_cont">
              {% csrf_token %}
              <input type="hidden" name="id_fech" id="id_fech" value="{{cita.id}}">
              <div class="mb-3">
                <label for="idfac" class="form-label">ID de Pago</label>
                <input type="text" class="form-control" name="idfac"id="idfac" placeholder="Ingrese el código de pago">
              </div>
              <div class="mb-3">
                <label for="descfac" class="form-label">Descripción</label>
                <select class="form-select" name="descfac" id="descfac">
                  <option value="">Escoga su descripción</option>
                  <option value="Consulta">Consulta</option>
                  <option value="Vacuna">Vacuna</option>
                </select>
              </div>
              <div class="mb-3">
                <label for="valfac" class="form-label">Valor</label>
                <input type="text" class="form-control" name="valfac"id="valfac" placeholder="$$$">
              </div>
              <div class="mb-3">
                <label for="obsfac" class="form-label">Observación</label>
                <select class="form-select" name="obsfac" id="obsfac">
                  <option value="">Escoga su observación</option>
                  <option value="Servicios">Servicios</option>
                  <option value="Bienes">Bienes</option>
                </select>
              </div>
              <button type="submit" class="btn btn-outline-success  m-2">Guardar</button>
              <a href="/adci_inicio/" class="btn btn-outline-danger">Cancelar</a><br><br>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-lg-4 align-items-strech">
  <div class="card w-100">
    <div class="card-body">
      <div class="d-sm-flex d-block align-items-center justify-content-between mb-9">
        <div class="mb-3 mb-sm-0">
          <h5 class="card-title fw-semibold">Crear Citas</h5>
        </div>
      </div>
      <form action="/aggagenda_adci/" method="POST" id="vldt_dias">
        {% csrf_token %}
        <div class="mb-3">
          <label for="nom_da" class="form-label">Nombre del Cliente</label>
          <input type="text" class="form-control" name="nom_da"id="nom_da" placeholder="Ingrese el nombre del representante">
        </div>
        <div class="mb-3">
          <label for="telf_da" class="form-label">Telf/Celular</label>
          <input type="text" class="form-control" name="telf_da"id="telf_da" placeholder="Ingrese el número de contacto">
        </div>
        <div class="mb-3">
          <label for="fech_da" class="form-label">Fecha</label>
          <input type="date" class="form-control" name="fech_da"id="fech_da" aria-describedby="dateHelp">
          </div>
        <div class="mb-3">
          <label for="time_da" class="form-label">Horario</label>
          <input type="time" class="form-control" name="time_da"id="time_da">
          </div>
        <label for="time_da" class="form-label">¿Cita de Cortesía?</label>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" name="cort_da" id="cort_da">
          <label class="form-check-label" for="exampleCheck1">Confirmar</label>
        </div>
        <button type="submit" class="btn btn-outline-primary rounded-pill m-2">Guardar</button>
        <button type="reset" name="button" class="btn btn-outline-danger rounded-pill m-2">Cancelar</button><br><br>
      </form>
    </div>
  </div>
</div>



<!-- MODAL DE EDICIÓN DE HORARIO -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar Horario</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/procesarActualizacionHorario/" method="POST" id="vldt_edidias">
          {% csrf_token %}
          <input type="hidden" name="data_id" id="modalId" value="{{cita.id}}">
          <div class="mb-3">
            <label for="nom_da" class="form-label">Nombre del Cliente</label>
            <input type="text" class="form-control" name="nom_da"id="nom_da" value="{{cita.nom_da}}" placeholder="Ingrese el nombre del representante">
          </div>
          <div class="mb-3">
            <label for="telf_da" class="form-label">Contacto</label>
            <input type="text" class="form-control" name="telf_da"id="telf_da" value="{{cita.telf_da}}" placeholder="Ingrese un número de Contacto">
          </div>
            <div class="mb-3">
              <label for="fech_da" class="form-label">Fecha</label>
              <input type="date" class="form-control" name="fech_da"id="fech_da" aria-describedby="dateHelp">
            </div>
            <div class="mb-3">
              <label for="time_da" class="form-label">Horario</label>
              <input type="time" class="form-control" name="time_da"id="time_da">
            </div>
            <label for="time_da" class="form-label">¿Cita de Cortesía?</label>
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" name="cort_da" id="cort_da">
              <label class="form-check-label" for="exampleCheck1">Confirmar</label>
            </div>
          <br>
          <!-- SCRIPT PARA LLAMAR LA INFORMACIÓN -->
          <script type="text/javascript">
            var exampleModal = document.getElementById('exampleModal');
            exampleModal.addEventListener('show.bs.modal', function (event) {
              var button = event.relatedTarget;
              var id = button.getAttribute('data-id');
              var fech_da = button.getAttribute('data-diah');
              var horario = button.getAttribute('data-horario');
              var nomDa = button.getAttribute('data-nom');
              var telfDa = button.getAttribute('data-telf');
              var cortesia = button.getAttribute('data-cortesia') === "True"; // Convierte a booleano

              var form = document.getElementById('vldt_edidias');

              var modalId = exampleModal.querySelector('#modalId');
              var modalFechDa = exampleModal.querySelector('#fech_da');
              var modalNomDa = exampleModal.querySelector('#nom_da');
              var modalTelfDa = exampleModal.querySelector('#telf_da');
              var modalTimeDa = exampleModal.querySelector('#time_da');
              var modalCortDa = exampleModal.querySelector('#cort_da');

              modalId.value = id;
              form.action = "./procesarActualizacionHorario/" + id + "/";

              modalNomDa.value = nomDa;  // Asignar el nombre del cliente
              modalTelfDa.value = telfDa;  // Asignar el teléfono/celular
              modalFechDa.value = fech_da;  // Asignar la fecha al input de tipo date
              modalTimeDa.value = horario; // Asignar el horario al input de tipo time
              modalCortDa.checked = cortesia; // Marcar o desmarcar el checkbox
            });
          </script>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-outline-success" id="saveChangesButton" disabled><i class="fas fa-edit" title="Guardar Cambios"></i></button>
        <script type="text/javascript">
          document.addEventListener("DOMContentLoaded", function() {
            var saveButton = document.getElementById('saveChangesButton');
            var form = document.getElementById('vldt_edidias');
            var editButton = document.getElementById('saveChangesButton'); // Agrega esta línea para definir editButton

            form.addEventListener('input', function() {
                editButton.disabled = false;
            });

            saveButton.addEventListener('click', function() {
              form.submit();
            });

            $('#exampleModal').on('hidden.bs.modal', function () {
              editButton.disabled = true;
            });
          });
        </script>
      </div>
    </div>
  </div>
</div>

<!-- CONFIGURACCIÓN DE TABLA -->
<script type="text/javascript">
  $(document).ready(function() {
      $('#tbl_horarios').DataTable( {
          dom: 'frtip',
          language: {
              url: "https://cdn.datatables.net/plug-ins/1.10.25/i18n/Spanish.json"
          },
          initComplete: function () {
              $('.dataTables_filter input[type="search"]').addClass('form-control');
          },
          pageLength: 6,
          //order: [[0, 'desc']],
          drawCallback: function(settings) {
              // Aplicar las clases a los botones de paginación después de cada redibujo
              $('.paginate_button').addClass('btn btn-outline-primary');
          }
      });
  });
</script>

<!-- MENSAJE DE CONFIRMACIÓN ELIMINAR DIAHORARIO -->
<script type="text/javascript">
        function delete_adci(url){
          iziToast.question({
              timeout: 15000,
              close: true,
              overlay: true,
              displayMode: 'once',
              id: 'question',
              zindex: 999,
              title: 'CONFIRMACIÓN',
              message: '¿Está seguro de eliminar la <b>cita </b> seleccionada?',
              position: 'center',
              buttons: [
                  ['<button><b>SI</b></button>', function (instance, toast) {
                      instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                      window.location.href=url;
                  }, true],
                  ['<button>NO</button>', function (instance, toast) {

                      instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');

                  }],
              ]
          });
        }


{% if messages %}
    {% for message in messages %}
        iziToast.success({
            title: 'Éxito',
            message: '{{ message }}',
            position: 'topRight',
        });
    {% endfor %}
{% endif %}
  </script>
{% endblock %}
