{% extends 'adci_plantilla.html' %}
{% block usci_contenido %}
<style>
  .fa-calendar-plus {
    font-size: 20px; /* Ajusta el tamaño del ícono */
  }
</style>
<div class="col-lg-9 d-flex align-items-strech">
  <div class="card w-100">
    <div class="card-body">
      <div class="d-sm-flex d-block align-items-center justify-content-between mb-9">
        <div class="mb-3 mb-sm-0">
          <h5 class="card-title fw-semibold">Administración de Citas</h5>
        </div>
        <div class="ml-auto">
          <a href="/adci_fechacitas/" class="btn btn-outline-success rounded-pill" title="Añadir Cita"><i class="fa-solid fa-calendar-plus"></i></a>
          <!-- <button type="button" class="btn btn-outline-success rounded-pill" data-bs-toggle="modal" data-bs-target="#eventModal3" title="Añadir Cita">
            <i class="fa-solid fa-calendar-plus"></i>
          </button> -->
        </div>
      </div>
      <div id="calendar" >

      </div>
    </div>
  </div>
</div>
<div class="col-lg-3">
  <div class="row">
    <div class="col-lg-12">
      <!-- Yearly Breakup -->
      <div class="card overflow-hidden">
        <div class="card-body p-4">
          <h5 class="card-title mb-9 fw-semibold">Yearly Breakup</h5>
          <div class="row align-items-center">
            <div class="col-8">
              <h4 class="fw-semibold mb-3">$36,358</h4>
              <div class="d-flex align-items-center mb-3">
                <span
                  class="me-1 rounded-circle bg-light-success round-20 d-flex align-items-center justify-content-center">
                  <i class="ti ti-arrow-up-left text-success"></i>
                </span>
                <p class="text-dark me-1 fs-3 mb-0">+9%</p>
                <p class="fs-3 mb-0">last year</p>
              </div>
              <div class="d-flex align-items-center">
                <div class="me-4">
                  <span class="round-8 bg-primary rounded-circle me-2 d-inline-block"></span>
                  <span class="fs-2">2023</span>
                </div>
                <div>
                  <span class="round-8 bg-light-primary rounded-circle me-2 d-inline-block"></span>
                  <span class="fs-2">2023</span>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="d-flex justify-content-center">
                <div id="breakup"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-12">
      <!-- Monthly Earnings -->
      <div class="card">
        <div class="card-body">
          <div class="row alig n-items-start">
            <div class="col-8">
              <h5 class="card-title mb-9 fw-semibold"> Monthly Earnings </h5>
              <h4 class="fw-semibold mb-3">$6,820</h4>
              <div class="d-flex align-items-center pb-1">
                <span
                  class="me-2 rounded-circle bg-light-danger round-20 d-flex align-items-center justify-content-center">
                  <i class="ti ti-arrow-down-right text-danger"></i>
                </span>
                <p class="text-dark me-1 fs-3 mb-0">+9%</p>
                <p class="fs-3 mb-0">last year</p>
              </div>
            </div>
            <div class="col-4">
              <div class="d-flex justify-content-end">
                <div
                  class="text-white bg-secondary rounded-circle p-6 d-flex align-items-center justify-content-center">
                  <i class="ti ti-currency-dollar fs-6"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="earning"></div>
      </div>
    </div>
  </div>
</div>
</div>
<div class="row">
  <div class="col-lg-4 d-flex align-items-stretch">
    <div class="card w-100">
      <div class="card-body p-4">
        <div class="mb-4">
          <h5 class="card-title fw-semibold">Citas de Mañana</h5>
        </div>
        <ul class="timeline-widget mb-0 position-relative mb-n5">
          {% for cita in citas_mañana %}
          <li class="timeline-item d-flex position-relative overflow-hidden">
            <div class="timeline-time text-dark flex-shrink-0 text-end">
              {% if cita.time_da.hour < 12 %}
                  {{ cita.time_da|time:"h:i" }} AM
              {% else %}
                  {{ cita.time_da|time:"h:i" }} PM
              {% endif %}
            </div>
            <div class="timeline-badge-wrap d-flex flex-column align-items-center">
              <span class="timeline-badge border-2 border border-warning flex-shrink-0 my-8"></span>
              <span class="timeline-badge-border d-block flex-shrink-0"></span>
            </div>
            <div class="timeline-desc fs-3 text-dark mt-n1"><a href="#" >{{cita.nom_da}} - {{cita.fech_da}}</a></div>
          {% endfor %}
          </li>
        </ul>
    </div>
  </div>
</div>

<div class="col-lg-8 d-flex align-items-stretch">
  <div class="card w-100">
    <div class="card-body p-4">
      <h5 class="card-title fw-semibold mb-4">Citas de Hoy</h5>
      <div class="table-responsive">
        <table id="tbl_horarios" class="table text-nowrap mb-0 align-middle">
          <thead class="text-dark fs-4">
            <tr>
              <th class="border-bottom-0 text-center">
                <h6 class="fw-semibold mb-0">Fecha</h6>
              </th>
              <th class="border-bottom-0 text-center">
                <h6 class="fw-semibold mb-0">Horario</h6>
              </th>
              <th class="border-bottom-0 text-center">
                <h6 class="fw-semibold mb-0">Solicitante</h6>
              </th>
              <th class="border-bottom-0 text-center">
                <h6 class="fw-semibold mb-0">Estado</h6>
              </th>
              <th class="border-bottom-0 text-center">
                <h6 class="fw-semibold mb-0 text-center">Acción</h6>
              </th>
            </tr>
          </thead>
          <tbody>
            {% for cita in citas_hoy %}
              <tr>
                  <td>{{ cita.fech_da }}</td>
                  <td>
                      {% if cita.time_da.hour < 12 %}
                          {{ cita.time_da|time:"h:i" }} AM
                      {% else %}
                          {{ cita.time_da|time:"h:i" }} PM
                      {% endif %}
                  </td>
                  <td>{{cita.nom_da}}</td>
                  <td>
                    {% if cita.est_da %}
                    <span class="text-info">Realizados</span>
                    {% else %}
                    <span class="text-warning">En espera</span>
                    {% endif %}
                  </td>
                  <td class="text-center">
                    {% if not cita.est_da %}
                      <a href="/adci_inicio/addcont_adci/{{ cita.id }}" class="btn btn-outline-success rounded-pill">Realizar Cobro</a>
                    {% else %}
                      <a href="#" class="btn btn-outline-success rounded-pill disabled" aria-disabled="true">Realizar Cobro</a>
                    {% endif %}
                  </td>
              </tr>
              {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</div>

<!-- MODAL VISTA CALENDAR cita no escogida-->
<div class="modal fade" id="eventModal" tabindex="-1" aria-labelledby="eventModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="eventModalLabel">Información de Cita</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/procesarActualizacionHorario/" method="POST" id="vldt_edidias">
         {% csrf_token %}
         <input type="hidden" name="modalId" id="modalId" value="{{horario.id}}">
         <div class="mb-3">
           <label for="nom_da_eventModal" class="form-label">Nombre</label>
           <input type="text" class="form-control" name="nom_da" id="nom_da_eventModal" aria-describedby="dateHelp">
           <div class="error-message"></div>
         </div>
         <div class="mb-3">
           <label for="telf_da_eventModal" class="form-label">Contacto</label>
           <input type="text" class="form-control" name="telf_da" id="telf_da_eventModal" aria-describedby="dateHelp">
           <div class="error-message"></div>
         </div>
         <div class="mb-3">
           <label for="fech_da_eventModal" class="form-label">Fecha</label>
           <input type="date" class="form-control" name="fech_da" id="fech_da_eventModal" aria-describedby="dateHelp">
           <div class="error-message"></div>
         </div>
         <div class="mb-3">
           <label for="time_da_eventModal" class="form-label">Horario</label>
           <input type="time" class="form-control" name="time_da" id="time_da_eventModal" aria-describedby="dateHelp">
           <div class="error-message"></div>
         </div>
         <label for="cort_da_eventModal" class="form-label">¿Cita de Cortesía?</label>
         <div class="mb-3 form-check">
           <input type="checkbox" class="form-check-input" name="cort_da" id="cort_da_eventModal">
           <label class="form-check-label" for="cort_da_eventModal">Confirmar</label>
         </div>
         <div class="modal-footer">
           <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cerrar</button>
           <button type="submit" class="btn btn-outline-warning rounded-pill" id="saveChangesButton2" disabled><i class="fas fa-edit"></i></button>
           <script type="text/javascript">
             document.addEventListener("DOMContentLoaded", function() {
               var form = document.getElementById('vldt_edidias');
               var editButton = document.getElementById('saveChangesButton2'); // Agrega esta línea para definir editButton

               form.addEventListener('input', function() {
                   editButton.disabled = false;
               });
               $('#eventModal').on('hidden.bs.modal', function () {
                 editButton.disabled = true;
               });
             });
           </script>
           <button type="button" class="btn btn-outline-danger rounded-pill" id="deleteDateButton"><i class="fas fa-trash"></i></button>
         </div>
       </form>
      </div>
    </div>
  </div>
</div>


<!-- MODAL VISTA CALENDAR cita escogida-->
<div class="modal fade" id="eventModalocu" tabindex="-1" aria-labelledby="eventModalLabelOcu" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="eventModalLabelOcu">Detalles de Cita</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
      </div>
      <div class="modal-body">
        <form action="/procesarActualizacionHorario/" method="POST" id="vldt_edidias_ocu">
          {% csrf_token %}
          <input type="hidden" name="modalId" id="modalIdOcu" value="">
          <div class="mb-3">
            <label for="nom_da_eventModalOcu" class="form-label">Nombre</label>
            <input type="text" class="form-control" name="nom_da" id="nom_da_eventModalOcu" aria-describedby="dateHelp" readonly>
          </div>
          <div class="mb-3">
            <label for="telf_da_eventModalOcu" class="form-label">Contacto</label>
            <input type="text" class="form-control" name="telf_da" id="telf_da_eventModalOcu" aria-describedby="dateHelp" readonly>
          </div>
          <div class="mb-3">
            <label for="fech_da_eventModalOcu" class="form-label">Fecha</label>
            <input type="date" class="form-control" name="fech_da" id="fech_da_eventModalOcu" aria-describedby="dateHelp" readonly>
          </div>
          <div class="mb-3">
            <label for="time_da_eventModalOcu" class="form-label">Horario</label>
            <input type="time" class="form-control" name="time_da" id="time_da_eventModalOcu" aria-describedby="dateHelp" readonly>
          </div>
          <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" name="cort_da" id="cort_da_eventModalOcu" disabled>
            <label class="form-check-label" for="cort_da_eventModalOcu">¿Cita de Cortesía?</label>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
<style>
  .custom-day-header {
    color: black !important;
    font-weight: bold;
  }
  .event-true {
    background-color: #d9534f !important; /* Rojo más oscuro pero suave */
    border-color: #d9534f !important; /* Cambia también el borde del evento si es necesario */
  }
  .event-false {
    background-color: #ffc107 !important; /* Amarillo de Bootstrap */
    border-color: #ffc107 !important; /* Cambia también el borde del evento si es necesario */
  }
  .event-cort {
    background-color: #28a745 !important; /* Verde de Bootstrap */
    border-color: #28a745 !important; /* Cambia también el borde del evento si es necesario */

  }
  .sin-servicio {
    background-color: #ec5b3b !important; /* Rojo de Bootstrap */
    border-color: #ec5b3b !important; /* Borde Rojo de Bootstrap */
  }
</style>
<!-- CALENDARIO -->
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');
    var calendar = new FullCalendar.Calendar(calendarEl, {
      initialView: 'timeGridWeek',
      locale: 'es',
      headerToolbar: {
        left: 'prev,next',
        center: 'title',
        right: 'prev,next'
      },
      slotLabelFormat: {
        hour: '2-digit',
        minute: '2-digit',
        hour12: false
      },
      slotMinTime: '08:00:00',
      slotMaxTime: '20:00:00',
      allDaySlot: false,
      hiddenDays: [0],
      dayHeaderContent: function(arg) {
        return { html: '<span class="custom-day-header">' + arg.text + '</span>' };
      },
      events: [
        {% for cita in citas %}
          {
            title: "{{ cita.nom_da }}",
            start: "{{ cita.fech_da|date:'Y-m-d' }}T{{ cita.time_da|time:'H:i:s' }}",
            end: "{{ cita.fech_da|date:'Y-m-d' }}T{{ cita.time_da|time:'H:i:s' }}",
            classNames: getEventClass("{{ cita.cort_da }}", "{{ cita.est_da }}"),
            extendedProps: {
              id: "{{ cita.id }}",
              diaH: "{{ cita.fech_da|date:'Y-m-d' }}",
              nom_da: "{{ cita.nom_da }}",
              time_da: "{{ cita.time_da }}",
              telf_da: "{{ cita.telf_da }}",
              cortesia: "{{ cita.cort_da }}",
              estado: "{{ cita.est_da }}"
            }
          },
        {% endfor %}
        {
          title: "Sin servicio",
          startTime: '13:00:00',
          endTime: '16:00:00',
          daysOfWeek: [1, 2, 3, 4, 5, 6], // Lunes a viernes
          rendering: 'background',
          classNames: 'sin-servicio ff6543'
        }
      ],
      eventClick: function(info) {
        // Verificar si el evento tiene la clase 'sin-servicio'
        if (info.event.classNames.includes('sin-servicio')) {
          return; // No hacer nada si el evento es "Sin servicio"
        }

        var estado = info.event.extendedProps.estado === "True";
        var cortesia = info.event.extendedProps.cortesia === "True";
        if (estado || cortesia) {
          $('#eventModalocu').modal('show');
          document.getElementById('modalIdOcu').value = info.event.extendedProps.id;
          document.getElementById('fech_da_eventModalOcu').value = info.event.extendedProps.diaH;
          document.getElementById('nom_da_eventModalOcu').value = info.event.extendedProps.nom_da;
          document.getElementById('time_da_eventModalOcu').value = info.event.extendedProps.time_da;
          document.getElementById('telf_da_eventModalOcu').value = info.event.extendedProps.telf_da;
          document.getElementById('cort_da_eventModalOcu').checked = cortesia;
        } else {
          $('#eventModal').modal('show');
          document.getElementById('modalId').value = info.event.extendedProps.id;
          document.getElementById('fech_da_eventModal').value = info.event.extendedProps.diaH;
          document.getElementById('nom_da_eventModal').value = info.event.extendedProps.nom_da;
          document.getElementById('time_da_eventModal').value = info.event.extendedProps.time_da;
          document.getElementById('telf_da_eventModal').value = info.event.extendedProps.telf_da;
          document.getElementById('cort_da_eventModal').checked = false;

          document.getElementById('vldt_edidias').action = "procesarActualizacionHorarioIn/" + info.event.extendedProps.id + "/";

          var deleteButton = document.getElementById('deleteDateButton');
          deleteButton.removeEventListener('click', handleDeleteClick); // Remove previous listener
          deleteButton.addEventListener('click', handleDeleteClick.bind(null, info.event.extendedProps.id));
        }
      },
      eventDidMount: function(info) {
        info.el.style.whiteSpace = 'normal';
      }
    });

    calendar.render();

    function getEventClass(cortesia, estado) {
      if (cortesia === "True") {
        return "event-cort";
      } else if (estado === "True") {
        return "";
      } else {
        return "event-false";
      }
    }

    function handleDeleteClick(eventId) {
      delete_adciIn("/delete_adciIn/" + eventId + "/");
    }

    function validateForm() {
      var isValid = true;
      var requiredFields = ['nom_da_eventModal', 'telf_da_eventModal', 'fech_da_eventModal', 'time_da_eventModal'];
      requiredFields.forEach(function(fieldId) {
        var field = document.getElementById(fieldId);
        if (!field.value) {
          isValid = false;
        }
      });
      return isValid;
    }

    var saveButton = document.getElementById('saveChangesButton');
    var form = document.getElementById('vldt_edidias');
    var editButton = document.getElementById('saveChangesButton'); // Agrega esta línea para definir editButton

    form.addEventListener('input', function() {
      editButton.disabled = !validateForm();
    });

    $('#eventModal').on('hidden.bs.modal', function () {
      editButton.disabled = true;
    });

  });
</script>

<!-- JQUERYVALIDATE -->
<script type="text/javascript">
  $(document).ready(function() {

    function setMinDate(input) {
      var today = new Date();
      var day = String(today.getDate()).padStart(2, '0');
      var month = String(today.getMonth() + 1).padStart(2, '0');
      var year = today.getFullYear();

      var minDate = year + '-' + month + '-' + day;

      input.setAttribute('min', minDate);
    }

    setMinDate(document.getElementById('eventModal').querySelector('#fech_da_eventModal'));
    // Validación para el formulario de edición (modal)
    // Función para inicializar la validación del modal cuando se muestra
    function initializeModalValidation() {
      $("#vldt_edidias").validate({
        rules: {
          nom_da: {
            required: true,
          },
          telf_da: {
            required: true,
          },
          fech_da: {
            required: true,
            date:true,
          },
          time_da: {
            required: true,
          }
        },
        messages: {
          nom_da: {
            required: "Debe ingresar el nombre del cliente",
          },
          telf_da: {
            required: "Debe ingresar el contacto del cliente",
          },
          fech_da: {
            required: "Debe ingresar la fecha de la cita",
            date:"Ingrese una fecha válida"
          },
          time_da: {
            required: "Debe ingresar el horario de la cita",
          }
        },
        errorPlacement: function(error, element) {
          element.parent().find('.error-message').html(error);
        },
        onkeyup: function(element) {
          $(element).valid();
        },
        onfocusout: function(element) {
          $(element).valid();
        }
      });
    }

    // Inicializar validación del modal cuando se muestre
    $('#eventModal').on('shown.bs.modal', function() {
      initializeModalValidation();
    });

    $("#fech_da_eventModal, #time_da_eventModal").change(function() {
      if ($("#fech_da_eventModal").val() && $("#time_da_eventModal").val()) {
        $("#vldt_edidias").validate().element("#fech_da_eventModal");
        $("#vldt_edidias").validate().element("#time_da_eventModal");
      }
    });
  });
</script>
<!-- MENSAJE DE CONFIRMACIÓN ELIMINAR DIAHORARIO -->
<script type="text/javascript">
        function delete_adciIn(url){
          iziToast.question({
              timeout: 15000,
              close: true,
              overlay: true,
              displayMode: 'once',
              id: 'question',
              zindex: 9999,
              title: 'CONFIRMACIÓN',
              message: '¿Está seguro de eliminar la <b>cita </b> seleccionada?',
              position: 'center',
              buttons: [
                  ['<button><b>SI</b></button>', function (instance, toast) {
                      instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                      window.location.href=url;
                  }, true],
                  ['<button>NO</button>', function (instance, toast) {

                      instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');

                  }],
              ]
          });
        }
        function procesarActualizacionHorarioIn(url){
          iziToast.question({
              timeout: 15000,
              close: true,
              overlay: true,
              displayMode: 'once',
              id: 'question',
              zindex: 9999,
              title: 'CONFIRMACIÓN',
              message: '¿Está seguro de editar la <b>cita </b> seleccionada (Por favor verifique la información)?',
              position: 'center',
              buttons: [
                  ['<button><b>SI</b></button>', function (instance, toast) {
                      instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                      window.location.href=url;
                  }, true],
                  ['<button>NO</button>', function (instance, toast) {

                      instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');

                  }],
              ]
          });
        }


{% if messages %}
    {% for message in messages %}
        iziToast.success({
            title: 'Éxito',
            message: '{{ message }}',
            position: 'topRight',
        });
    {% endfor %}
{% endif %}
  </script>

{% endblock %}
