{% extends 'adci_plantilla.html' %}
{% block usci_contenido %}
<div class="col-lg-9 d-flex align-items-strech">
  <div class="card w-100">
    <div class="card-body">
      <div class="d-sm-flex d-block align-items-center justify-content-between mb-9">
        <div class="mb-3 mb-sm-0">
          <h5 class="card-title fw-semibold">Administración de Citas</h5>
          <a href="#">Crear Semana</a>
        </div>
      </div>
      <div id="calendar" >

      </div>
    </div>
  </div>
</div>
<div class="col-lg-3">
  <div class="row">
    <div class="col-lg-12">
      <!-- Yearly Breakup -->
      <div class="card overflow-hidden">
        <div class="card-body p-4">
          <h5 class="card-title mb-9 fw-semibold">Yearly Breakup</h5>
          <div class="row align-items-center">
            <div class="col-8">
              <h4 class="fw-semibold mb-3">$36,358</h4>
              <div class="d-flex align-items-center mb-3">
                <span
                  class="me-1 rounded-circle bg-light-success round-20 d-flex align-items-center justify-content-center">
                  <i class="ti ti-arrow-up-left text-success"></i>
                </span>
                <p class="text-dark me-1 fs-3 mb-0">+9%</p>
                <p class="fs-3 mb-0">last year</p>
              </div>
              <div class="d-flex align-items-center">
                <div class="me-4">
                  <span class="round-8 bg-primary rounded-circle me-2 d-inline-block"></span>
                  <span class="fs-2">2023</span>
                </div>
                <div>
                  <span class="round-8 bg-light-primary rounded-circle me-2 d-inline-block"></span>
                  <span class="fs-2">2023</span>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="d-flex justify-content-center">
                <div id="breakup"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-12">
      <!-- Monthly Earnings -->
      <div class="card">
        <div class="card-body">
          <div class="row alig n-items-start">
            <div class="col-8">
              <h5 class="card-title mb-9 fw-semibold"> Monthly Earnings </h5>
              <h4 class="fw-semibold mb-3">$6,820</h4>
              <div class="d-flex align-items-center pb-1">
                <span
                  class="me-2 rounded-circle bg-light-danger round-20 d-flex align-items-center justify-content-center">
                  <i class="ti ti-arrow-down-right text-danger"></i>
                </span>
                <p class="text-dark me-1 fs-3 mb-0">+9%</p>
                <p class="fs-3 mb-0">last year</p>
              </div>
            </div>
            <div class="col-4">
              <div class="d-flex justify-content-end">
                <div
                  class="text-white bg-secondary rounded-circle p-6 d-flex align-items-center justify-content-center">
                  <i class="ti ti-currency-dollar fs-6"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="earning"></div>
      </div>
    </div>
  </div>
</div>
</div>
<div class="row">
<div class="col-lg-4 d-flex align-items-stretch">
  <div class="card w-100">
    <div class="card-body p-4">
      <div class="mb-4">
        <h5 class="card-title fw-semibold">Recent Transactions</h5>
      </div>
      <ul class="timeline-widget mb-0 position-relative mb-n5">
        <li class="timeline-item d-flex position-relative overflow-hidden">
          <div class="timeline-time text-dark flex-shrink-0 text-end">09:30</div>
          <div class="timeline-badge-wrap d-flex flex-column align-items-center">
            <span class="timeline-badge border-2 border border-primary flex-shrink-0 my-8"></span>
            <span class="timeline-badge-border d-block flex-shrink-0"></span>
          </div>
          <div class="timeline-desc fs-3 text-dark mt-n1">Payment received from John Doe of $385.90</div>
        </li>
        <li class="timeline-item d-flex position-relative overflow-hidden">
          <div class="timeline-time text-dark flex-shrink-0 text-end">10:00 am</div>
          <div class="timeline-badge-wrap d-flex flex-column align-items-center">
            <span class="timeline-badge border-2 border border-info flex-shrink-0 my-8"></span>
            <span class="timeline-badge-border d-block flex-shrink-0"></span>
          </div>
          <div class="timeline-desc fs-3 text-dark mt-n1 fw-semibold">New sale recorded <a
              href="javascript:void(0)" class="text-primary d-block fw-normal">#ML-3467</a>
          </div>
        </li>
        <li class="timeline-item d-flex position-relative overflow-hidden">
          <div class="timeline-time text-dark flex-shrink-0 text-end">12:00 am</div>
          <div class="timeline-badge-wrap d-flex flex-column align-items-center">
            <span class="timeline-badge border-2 border border-success flex-shrink-0 my-8"></span>
            <span class="timeline-badge-border d-block flex-shrink-0"></span>
          </div>
          <div class="timeline-desc fs-3 text-dark mt-n1">Payment was made of $64.95 to Michael</div>
        </li>
        <li class="timeline-item d-flex position-relative overflow-hidden">
          <div class="timeline-time text-dark flex-shrink-0 text-end">09:30 am</div>
          <div class="timeline-badge-wrap d-flex flex-column align-items-center">
            <span class="timeline-badge border-2 border border-warning flex-shrink-0 my-8"></span>
            <span class="timeline-badge-border d-block flex-shrink-0"></span>
          </div>
          <div class="timeline-desc fs-3 text-dark mt-n1 fw-semibold">New sale recorded <a
              href="javascript:void(0)" class="text-primary d-block fw-normal">#ML-3467</a>
          </div>
        </li>
        <li class="timeline-item d-flex position-relative overflow-hidden">
          <div class="timeline-time text-dark flex-shrink-0 text-end">09:30 am</div>
          <div class="timeline-badge-wrap d-flex flex-column align-items-center">
            <span class="timeline-badge border-2 border border-danger flex-shrink-0 my-8"></span>
            <span class="timeline-badge-border d-block flex-shrink-0"></span>
          </div>
          <div class="timeline-desc fs-3 text-dark mt-n1 fw-semibold">New arrival recorded
          </div>
        </li>
        <li class="timeline-item d-flex position-relative overflow-hidden">
          <div class="timeline-time text-dark flex-shrink-0 text-end">12:00 am</div>
          <div class="timeline-badge-wrap d-flex flex-column align-items-center">
            <span class="timeline-badge border-2 border border-success flex-shrink-0 my-8"></span>
          </div>
          <div class="timeline-desc fs-3 text-dark mt-n1">Payment Done</div>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="col-lg-8 d-flex align-items-stretch">
  <div class="card w-100">
    <div class="card-body p-4">
      <h5 class="card-title fw-semibold mb-4">Recent Transactions</h5>
      <div class="table-responsive">

      </div>
    </div>
  </div>
</div>
</div>
<!-- MODAL VISTYA CALENDAR -->
<div class="modal fade" id="eventModal" tabindex="-1" aria-labelledby="eventModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="eventModalLabel">Detalles del evento</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
      </div>
      <div class="modal-body">
        <p id="modalEventTitle"></p>
        <p id="modalEventTime"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
<style>
  .custom-day-header {
    color: black !important;
    font-weight: bold;
  }
  .event-true {
    background-color: #d9534f !important; /* Rojo más oscuro pero suave */
    border-color: #d9534f !important; /* Cambia también el borde del evento si es necesario */
  }

</style>
<!-- CALENDARIO -->
<!-- <script>
  document.addEventListener('DOMContentLoaded', function() {
      var calendarEl = document.getElementById('calendar');
      var calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: 'timeGridWeek',
          locale: 'es',
          headerToolbar: {
              left: 'prev,next',
              center:'title',
              right: 'prev,next'
          },
          slotLabelFormat: {
              hour: '2-digit',
              minute: '2-digit',
              hour12: false
          },
          slotMinTime: '06:00:00', // Hora de inicio de la grilla de tiempo
          slotMaxTime: '22:00:00', // Hora de fin de la grilla de tiempo
          allDaySlot: false,
          hiddenDays: [ 0, 6 ],
          dayHeaderContent: function(arg) {
                return { html: '<span class="custom-day-header">' + arg.text + '</span>' };
            },
          events: [
            {% for horario in horarios %}
              {
                title: "{{ horario.diaH|date:'Y-m-d'}}",
                start: "{{ horario.diaH|date:'Y-m-d' }}T{{ horario.horario.horaInicio|time:'H:i:s' }}",
                end: "{{ horario.diaH|date:'Y-m-d' }}T{{ horario.horario.horaFinal|time:'H:i:s' }}",
                classNames: getEventClass("{{ horario.estado }}"),
              },
            {% endfor %}
          ],
          eventDidMount: function(info) {
              info.el.style.whiteSpace = 'normal';
          }
      });

      calendar.render();

      function getEventClass(eventState) {
          return eventState === "True" ? "event-true" : "";
        }
  });


</script> -->

<script>
  document.addEventListener('DOMContentLoaded', function() {
      var calendarEl = document.getElementById('calendar');
      var calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: 'timeGridWeek',
          locale: 'es',
          headerToolbar: {
              left: 'prev,next',
              center: 'title',
              right: 'prev,next'
          },
          slotLabelFormat: {
              hour: '2-digit',
              minute: '2-digit',
              hour12: false
          },
          slotMinTime: '06:00:00', // Hora de inicio de la grilla de tiempo
          slotMaxTime: '22:00:00', // Hora de fin de la grilla de tiempo
          allDaySlot: false,
          hiddenDays: [0, 6],
          dayHeaderContent: function(arg) {
              return { html: '<span class="custom-day-header">' + arg.text + '</span>' };
          },
          events: [
            {% for horario in horarios %}
              {
                title: "{{ horario.diaH|date:'Y-m-d' }}",
                start: "{{ horario.diaH|date:'Y-m-d' }}T{{ horario.horario.horaInicio|time:'H:i:s' }}",
                end: "{{ horario.diaH|date:'Y-m-d' }}T{{ horario.horario.horaFinal|time:'H:i:s' }}",
                classNames: getEventClass("{{ horario.estado }}"),
              },
            {% endfor %}
          ],
          eventClick: function(info) {
              $('#eventModal').modal('show');
              document.getElementById('modalEventTitle').textContent = info.event.title;
              document.getElementById('modalEventTime').textContent = 'From ' + info.event.start.toLocaleString() + ' to ' + info.event.end.toLocaleString();
          },
          eventDidMount: function(info) {
              info.el.style.whiteSpace = 'normal';
          }
      });

      calendar.render();

      function getEventClass(eventState) {
          return eventState === "True" ? "event-true" : "";
      }
  });
</script>


{% endblock %}
