{% extends 'adci_plantilla.html' %}
{% block usci_contenido %}
<style>
  .fa-calendar-plus {
    font-size: 20px; /* Ajusta el tamaño del ícono */
  }
</style>
<div class="col-lg-9 d-flex align-items-strech">
  <div class="card w-100">
    <div class="card-body">
      <div class="d-sm-flex d-block align-items-center justify-content-between mb-9">
        <div class="mb-3 mb-sm-0">
          <h5 class="card-title fw-semibold">Administración de Citas</h5>
        </div>
        <div class="ml-auto">
          <button type="button" class="btn btn-outline-success rounded-pill" data-bs-toggle="modal" data-bs-target="#eventModal3" title="Añadir Cita">
            <i class="fa-solid fa-calendar-plus"></i>
          </button>
        </div>
      </div>
      <div id="calendar" >

      </div>
    </div>
  </div>
</div>
<div class="col-lg-3">
  <div class="row">
    <div class="col-lg-12">
      <!-- Yearly Breakup -->
      <div class="card overflow-hidden">
        <div class="card-body p-4">
          <h5 class="card-title mb-9 fw-semibold">Yearly Breakup</h5>
          <div class="row align-items-center">
            <div class="col-8">
              <h4 class="fw-semibold mb-3">$36,358</h4>
              <div class="d-flex align-items-center mb-3">
                <span
                  class="me-1 rounded-circle bg-light-success round-20 d-flex align-items-center justify-content-center">
                  <i class="ti ti-arrow-up-left text-success"></i>
                </span>
                <p class="text-dark me-1 fs-3 mb-0">+9%</p>
                <p class="fs-3 mb-0">last year</p>
              </div>
              <div class="d-flex align-items-center">
                <div class="me-4">
                  <span class="round-8 bg-primary rounded-circle me-2 d-inline-block"></span>
                  <span class="fs-2">2023</span>
                </div>
                <div>
                  <span class="round-8 bg-light-primary rounded-circle me-2 d-inline-block"></span>
                  <span class="fs-2">2023</span>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="d-flex justify-content-center">
                <div id="breakup"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-12">
      <!-- Monthly Earnings -->
      <div class="card">
        <div class="card-body">
          <div class="row alig n-items-start">
            <div class="col-8">
              <h5 class="card-title mb-9 fw-semibold"> Monthly Earnings </h5>
              <h4 class="fw-semibold mb-3">$6,820</h4>
              <div class="d-flex align-items-center pb-1">
                <span
                  class="me-2 rounded-circle bg-light-danger round-20 d-flex align-items-center justify-content-center">
                  <i class="ti ti-arrow-down-right text-danger"></i>
                </span>
                <p class="text-dark me-1 fs-3 mb-0">+9%</p>
                <p class="fs-3 mb-0">last year</p>
              </div>
            </div>
            <div class="col-4">
              <div class="d-flex justify-content-end">
                <div
                  class="text-white bg-secondary rounded-circle p-6 d-flex align-items-center justify-content-center">
                  <i class="ti ti-currency-dollar fs-6"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="earning"></div>
      </div>
    </div>
  </div>
</div>
</div>
<div class="row">
<div class="col-lg-4 d-flex align-items-stretch">
  <div class="card w-100">
    <div class="card-body p-4">
      <div class="mb-4">
        <h5 class="card-title fw-semibold">Recent Transactions</h5>
      </div>
      <ul class="timeline-widget mb-0 position-relative mb-n5">
        <li class="timeline-item d-flex position-relative overflow-hidden">
          <div class="timeline-time text-dark flex-shrink-0 text-end">09:30</div>
          <div class="timeline-badge-wrap d-flex flex-column align-items-center">
            <span class="timeline-badge border-2 border border-primary flex-shrink-0 my-8"></span>
            <span class="timeline-badge-border d-block flex-shrink-0"></span>
          </div>
          <div class="timeline-desc fs-3 text-dark mt-n1">Payment received from John Doe of $385.90</div>
        </li>
        <li class="timeline-item d-flex position-relative overflow-hidden">
          <div class="timeline-time text-dark flex-shrink-0 text-end">10:00 am</div>
          <div class="timeline-badge-wrap d-flex flex-column align-items-center">
            <span class="timeline-badge border-2 border border-info flex-shrink-0 my-8"></span>
            <span class="timeline-badge-border d-block flex-shrink-0"></span>
          </div>
          <div class="timeline-desc fs-3 text-dark mt-n1 fw-semibold">New sale recorded <a
              href="javascript:void(0)" class="text-primary d-block fw-normal">#ML-3467</a>
          </div>
        </li>
        <li class="timeline-item d-flex position-relative overflow-hidden">
          <div class="timeline-time text-dark flex-shrink-0 text-end">12:00 am</div>
          <div class="timeline-badge-wrap d-flex flex-column align-items-center">
            <span class="timeline-badge border-2 border border-success flex-shrink-0 my-8"></span>
            <span class="timeline-badge-border d-block flex-shrink-0"></span>
          </div>
          <div class="timeline-desc fs-3 text-dark mt-n1">Payment was made of $64.95 to Michael</div>
        </li>
        <li class="timeline-item d-flex position-relative overflow-hidden">
          <div class="timeline-time text-dark flex-shrink-0 text-end">09:30 am</div>
          <div class="timeline-badge-wrap d-flex flex-column align-items-center">
            <span class="timeline-badge border-2 border border-warning flex-shrink-0 my-8"></span>
            <span class="timeline-badge-border d-block flex-shrink-0"></span>
          </div>
          <div class="timeline-desc fs-3 text-dark mt-n1 fw-semibold">New sale recorded <a
              href="javascript:void(0)" class="text-primary d-block fw-normal">#ML-3467</a>
          </div>
        </li>
        <li class="timeline-item d-flex position-relative overflow-hidden">
          <div class="timeline-time text-dark flex-shrink-0 text-end">09:30 am</div>
          <div class="timeline-badge-wrap d-flex flex-column align-items-center">
            <span class="timeline-badge border-2 border border-danger flex-shrink-0 my-8"></span>
            <span class="timeline-badge-border d-block flex-shrink-0"></span>
          </div>
          <div class="timeline-desc fs-3 text-dark mt-n1 fw-semibold">New arrival recorded
          </div>
        </li>
        <li class="timeline-item d-flex position-relative overflow-hidden">
          <div class="timeline-time text-dark flex-shrink-0 text-end">12:00 am</div>
          <div class="timeline-badge-wrap d-flex flex-column align-items-center">
            <span class="timeline-badge border-2 border border-success flex-shrink-0 my-8"></span>
          </div>
          <div class="timeline-desc fs-3 text-dark mt-n1">Payment Done</div>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="col-lg-8 d-flex align-items-stretch">
  <div class="card w-100">
    <div class="card-body p-4">
      <h5 class="card-title fw-semibold mb-4">Recent Transactions</h5>
      <div class="table-responsive">

      </div>
    </div>
  </div>
</div>
</div>
<!-- MODAL AÑADIR CITA -->
<!-- <div class="modal fade" id="eventModal3" tabindex="-1" aria-labelledby="eventModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="eventModalLabel">Crear Cita</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/aggin_adci/" method="POST" id="vldt_dias">
          {% csrf_token %}
          <div class="mb-3">
            <label for="nom_da" class="form-label">Nombre del Cliente</label>
            <input type="text" class="form-control" name="nom_da"id="nom_da" placeholder="Ingrese el nombre del representante">
          </div>
          <div class="mb-3">
            <label for="telf_da" class="form-label">Telf/Celular</label>
            <input type="text" class="form-control" name="telf_da"id="telf_da" placeholder="Ingrese el número de contacto">
          </div>
          <div class="mb-3">
            <label for="fech_da" class="form-label">Fecha</label>
            <input type="date" class="form-control" name="fech_da"id="fech_da" aria-describedby="dateHelp">
            </div>
          <div class="mb-3">
            <label for="time_da" class="form-label">Horario</label>
            <input type="time" class="form-control" name="time_da"id="time_da">
            </div>
          <label for="time_da" class="form-label">¿Cita de Cortesía?</label>
          <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" name="cort_da" id="cort_da">
            <label class="form-check-label" for="exampleCheck1">Confirmar</label>
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-outline-success" id="saveChangesButton3" disabled>Guardar</button>
        <script type="text/javascript">
          document.addEventListener("DOMContentLoaded", function() {
            var saveButton3 = document.getElementById('saveChangesButton3');
            var form = document.getElementById('vldt_dias');
            var editButton3 = document.getElementById('saveChangesButton3'); // Agrega esta línea para definir editButton

            form.addEventListener('input', function() {
                editButton3.disabled = false;
            });

            saveButton3.addEventListener('click', function() {
              form.action="aggin_adci/"
              form.submit();
            });

            $('#eventModal3').on('hidden.bs.modal', function () {
              editButton3.disabled = true;
            });
          });
        </script>
      </div>
    </div>
  </div>
</div> -->


<!-- MODAL VISTA CALENDAR cita no escogida-->
<div class="modal fade" id="eventModal" tabindex="-1" aria-labelledby="eventModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="eventModalLabel">Información de Cita</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/procesarActualizacionHorario/" method="POST" id="vldt_edidias">
          {% csrf_token %}
          <input type="hidden" name="modalId" id="modalId" value="{{horario.id}}">
          <div class="mb-3">
            <label for="nom_da" class="form-label">Nombre</label>
            <input type="text" class="form-control" name="nom_da" id="nom_da" aria-describedby="dateHelp">
          </div>
          <div class="mb-3">
            <label for="telf_da" class="form-label">Contacto</label>
            <input type="text" class="form-control" name="telf_da" id="telf_da" aria-describedby="dateHelp">
          </div>
          <div class="mb-3">
            <label for="fech_da" class="form-label">Fecha</label>
            <input type="date" class="form-control" name="fech_da" id="fech_da" aria-describedby="dateHelp">
          </div>
          <div class="mb-3">
            <label for="time_da" class="form-label">Horario</label>
            <input type="time" class="form-control" name="time_da" id="time_da" aria-describedby="dateHelp">
          </div>
          <label for="time_da" class="form-label">¿Cita de Cortesía?</label>
          <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" name="cort_da" id="cort_da">
            <label class="form-check-label" for="exampleCheck1">Confirmar</label>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-outline-warning rounded-pill" id="saveChangesButton" disabled><i class="fas fa-edit"></i></button>
        <script type="text/javascript">
          document.addEventListener("DOMContentLoaded", function() {
            var saveButton = document.getElementById('saveChangesButton');
            var form = document.getElementById('vldt_edidias');
            var editButton = document.getElementById('saveChangesButton'); // Agrega esta línea para definir editButton

            form.addEventListener('input', function() {
                editButton.disabled = false;
            });

            saveButton.addEventListener('click', function() {
              form.submit();
            });

            $('#eventModal').on('hidden.bs.modal', function () {
              editButton.disabled = true;
            });
          });
        </script>
        <button type="button" class="btn btn-outline-danger rounded-pill" id="deleteDateButton"><i class="fas fa-trash"></i></button>
      </div>
    </div>
  </div>
</div>


<!-- MODAL VISTA CALENDAR cita escogida-->
<div class="modal fade" id="eventModalocu" tabindex="-1" aria-labelledby="eventModalLabelOcu" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="eventModalLabelOcu">Detalles del evento cita escogida</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
      </div>
      <div class="modal-body">
        <p id="modalEventTitleOcu"></p>
        <p id="modalEventTimeOcu"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
<style>
  .custom-day-header {
    color: black !important;
    font-weight: bold;
  }
  .event-true {
    background-color: #d9534f !important; /* Rojo más oscuro pero suave */
    border-color: #d9534f !important; /* Cambia también el borde del evento si es necesario */
  }
  .event-false {
    background-color: #ffc107 !important; /* Amarillo de Bootstrap */
    border-color: #ffc107 !important; /* Cambia también el borde del evento si es necesario */
  }
  .event-cort {
    background-color: #28a745 !important; /* Verde de Bootstrap */
    border-color: #28a745 !important; /* Cambia también el borde del evento si es necesario */

  }
  .sin-servicio {
    background-color: #dc3545 !important; /* Rojo de Bootstrap */
    border-color: #dc3545 !important; /* Borde Rojo de Bootstrap */
  }
</style>
<!-- CALENDARIO -->
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');
    var calendar = new FullCalendar.Calendar(calendarEl, {
      initialView: 'timeGridWeek',
      locale: 'es',
      headerToolbar: {
        left: 'prev,next',
        center: 'title',
        right: 'prev,next'
      },
      slotLabelFormat: {
        hour: '2-digit',
        minute: '2-digit',
        hour12: false
      },
      slotMinTime: '08:00:00',
      slotMaxTime: '20:00:00',
      allDaySlot: false,
      hiddenDays: [0],
      dayHeaderContent: function(arg) {
        return { html: '<span class="custom-day-header">' + arg.text + '</span>' };
      },
      events: [
        {% for cita in citas %}
          {
            title: "{{ cita.nom_da }}",
            start: "{{ cita.fech_da|date:'Y-m-d' }}T{{ cita.time_da|time:'H:i:s' }}",
            end: "{{ cita.fech_da|date:'Y-m-d' }}T{{ cita.time_da|time:'H:i:s' }}",
            classNames: getEventClass("{{ cita.cort_da }}", "{{ cita.est_da }}"),
            extendedProps: {
              id: "{{ cita.id }}",
              diaH: "{{ cita.fech_da|date:'Y-m-d' }}",
              nom_da: "{{cita.nom_da}}",
              time_da:"{{cita.time_da}}",
              telf_da:"{{cita.telf_da}}",
              cortesia: "{{ cita.cort_da }}",
              estado: "{{ cita.est_da }}"
            }
          },
        {% endfor %}
        {
          title: "Sin servicio",
          startTime: '13:00:00',
          endTime: '16:00:00',
          daysOfWeek: [1, 2, 3, 4, 5,6], // Lunes a viernes
          rendering: 'background',
          classNames: 'sin-servicio'
        }
      ],
      eventClick: function(info) {
        var estado = info.event.extendedProps.estado === "True";
        if (estado) {
          $('#eventModalocu').modal('show');
          document.getElementById('modalEventTitleOcu').textContent = info.event.title;
          document.getElementById('modalEventTimeOcu').textContent = 'From ' + info.event.start.toLocaleString() + ' to ' + info.event.end.toLocaleString();
        } else {
          $('#eventModal').modal('show');
          var modalId = document.getElementById('modalId');
          var modalDiaH = document.getElementById('fech_da');
          var modalNom = document.getElementById('nom_da');
          var modalTim = document.getElementById('time_da');
          var modalTelf = document.getElementById('telf_da');
          var cortesiaCheckbox = document.getElementById('cort_da');
          var form = document.getElementById('vldt_edidias');

          modalId.value = info.event.extendedProps.id;
          modalDiaH.value = info.event.extendedProps.diaH;
          modalNom.value = info.event.extendedProps.nom_da;
          modalTim.value = info.event.extendedProps.time_da;
          modalTelf.value = info.event.extendedProps.telf_da;
          cortesiaCheckbox.checked = info.event.extendedProps.cortesia === "True";

          form.action = "procesarActualizacionHorarioIn/" + info.event.extendedProps.id + "/";

          var deleteButton = document.getElementById('deleteDateButton');
          deleteButton.addEventListener('click', function() {
            delete_adciIn("/delete_adciIn/" + info.event.extendedProps.id + "/");
          });
        }
      },
      eventDidMount: function(info) {
        info.el.style.whiteSpace = 'normal';
      }
    });

    calendar.render();

    function getEventClass(cortesia, estado) {
      if (cortesia === "True") {
        return "event-cort";
      } else if (estado === "True") {
        return "event-true";
      } else {
        return "event-false";
      }
    }
  });
</script>


<!-- MENSAJE DE CONFIRMACIÓN ELIMINAR DIAHORARIO -->
<script type="text/javascript">
        function delete_adciIn(url){
          iziToast.question({
              timeout: 15000,
              close: true,
              overlay: true,
              displayMode: 'once',
              id: 'question',
              zindex: 9999,
              title: 'CONFIRMACIÓN',
              message: '¿Está seguro de eliminar la <b>cita </b> seleccionada?',
              position: 'center',
              buttons: [
                  ['<button><b>SI</b></button>', function (instance, toast) {
                      instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                      window.location.href=url;
                  }, true],
                  ['<button>NO</button>', function (instance, toast) {

                      instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');

                  }],
              ]
          });
        }
        function procesarActualizacionHorarioIn(url){
          iziToast.question({
              timeout: 15000,
              close: true,
              overlay: true,
              displayMode: 'once',
              id: 'question',
              zindex: 9999,
              title: 'CONFIRMACIÓN',
              message: '¿Está seguro de editar la <b>cita </b> seleccionada (Por favor verifique la información)?',
              position: 'center',
              buttons: [
                  ['<button><b>SI</b></button>', function (instance, toast) {
                      instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                      window.location.href=url;
                  }, true],
                  ['<button>NO</button>', function (instance, toast) {

                      instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');

                  }],
              ]
          });
        }


{% if messages %}
    {% for message in messages %}
        iziToast.success({
            title: 'Éxito',
            message: '{{ message }}',
            position: 'topRight',
        });
    {% endfor %}
{% endif %}
  </script>

{% endblock %}
