{% extends 'adci_plantilla.html' %}
{% block usci_contenido %}

<div class="col-lg-12">
  <div class="row">
    <div class="col-lg-12">
      <!-- TABLA -->
      <div class="card overflow-hidden">
        <div class="card-body p-4">
          <h5 class="card-title mb-9 fw-semibold">Proceso de Comprobante</h5><br>
          <div class="row align-items-center">
            <form action="/adci_inicio/aggcont_adci/" method="POST" id="vldt_cont">
              {% csrf_token %}
              <input type="hidden" name="id_fech" id="id_fech" value="{{cita.id}}">
              <div class="mb-3">
                <label for="idfac" class="form-label">ID de Pago</label>
                <input type="text" class="form-control" name="idfac"id="idfac" placeholder="Ingrese el código de pago">
              </div>
              <div class="mb-3">
                <label for="descfac" class="form-label">Descripción</label>
                <select class="form-select" name="descfac" id="descfac">
                  <option value="">Escoga su descripción</option>
                  <option value="Consulta">Consulta</option>
                  <option value="Vacuna">Vacuna</option>
                </select>
              </div>
              <div class="mb-3">
                <label for="valfac" class="form-label">Valor</label>
                <input type="text" class="form-control" name="valfac"id="valfac" placeholder="$$$">
              </div>
              <div class="mb-3">
                <label for="obsfac" class="form-label">Observación</label>
                <select class="form-select" name="obsfac" id="obsfac">
                  <option value="">Escoga su observación</option>
                  <option value="Servicios">Servicios</option>
                  <option value="Bienes">Bienes</option>
                </select>
              </div>
              <button type="submit" class="btn btn-outline-success  m-2">Guardar</button>
              <a href="/adci_inicio/" class="btn btn-outline-danger">Cancelar</a><br><br>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- MENSAJE DE CONFIRMACIÓN ELIMINAR DIAHORARIO -->
<script type="text/javascript">
        function delete_adci(url){
          iziToast.question({
              timeout: 15000,
              close: true,
              overlay: true,
              displayMode: 'once',
              id: 'question',
              zindex: 999,
              title: 'CONFIRMACIÓN',
              message: '¿Está seguro de eliminar la <b>cita </b> seleccionada?',
              position: 'center',
              buttons: [
                  ['<button><b>SI</b></button>', function (instance, toast) {
                      instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                      window.location.href=url;
                  }, true],
                  ['<button>NO</button>', function (instance, toast) {

                      instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');

                  }],
              ]
          });
        }


{% if messages %}
    {% for message in messages %}
        iziToast.success({
            title: 'Éxito',
            message: '{{ message }}',
            position: 'topRight',
        });
    {% endfor %}
{% endif %}
  </script>
{% endblock %}
