{% extends 'adci_plantilla.html' %}
{% block usci_contenido %}
<div class="container-fluid">
    <div class="card mb-3">
        <div class="card-body">
            <div class="row">
                <div class="col-12 mb-3 text-center">
                    <h5 class="card-title fw-semibold">BIENVENIDO</h5>
                    <h5 class="card-title fw-semibold">Haz ingresado con {{request.user.username}}</h5>
                </div>
                <div class="col-md-4 mb-3">
                  <h5 class="card-title fw-semibold mb-4 text-center"><b>Ajustes</b></h5>
                  <div class="card mb-3">
                      <div class="card-body">
                          <h5 class="card-title text-center">Añadir Usuarios</h5>
                          <p class="card-text"><b>¡¡Ojo!! Los usuarios solo pueden ser registrados por el personal autorizado.</b></p>
                          <p class="card-text">Si deseas ingresar un usuario nuevo por favor haz click aquí:</p>
                          {% if user.is_staff or user.is_superuser %}
                              <a href="/register/" class="btn btn-primary">Registrar Usuario</a>
                          {% else %}
                              <button type="button" name="button" class="btn btn-outline-info" disabled>Solo personal autorizado</button>
                          {% endif %}
                      </div>
                  </div>
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title text-center">Cambiar Contraseña</h5>
                            <p class="card-text"><b>Para asegurar una mejor seguridad, se recomienda un cambio de contraseña cada mes. :)</b></p>
                            <p class="card-text">Si deseas cambiar la contraseña por favor haz click aquí:</p>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#changePasswordModal">Cambiar contraseña</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <h5 class="card-title fw-semibold mb-4 text-center"><b>Usuarios Registrados</b></h5>
                    <div class="card">
                        {% if es_staff or es_superuser %}
                            <div class="card-header">
                                Cambios permitidos
                            </div>
                            <div class="card-body table-responsive">
                              <table class="table" id="tbl_3">
                                  <thead>
                                      <tr>
                                          <th>Correo</th>
                                          <th>Fecha de Creación</th>
                                          <th>Última sesión</th>
                                          <th class="text-center">Acciones</th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                      {% for usuario in usuarios %}
                                      <tr>
                                          <td>{{ usuario.username }}</td>
                                          <td>{{ usuario.date_joined|date:"Y-m-d H:i:s" }}</td>
                                          <td>{{ usuario.last_login|date:"Y-m-d H:i:s" }}</td>
                                          <td class="text-center">
                                              {% if usuario.is_staff or usuario.is_superuser %}
                                                  <span>Administrador General</span>
                                              {% else %}
                                                  <button type="button" class="btn btn-outline-dark rounded-pill" data-bs-toggle="modal" data-bs-target="#changeAdminModal" title="Promocionar a Admin"><i class="fa-solid fa-user-tie"></i></button>
                                                  <a href="#" class="btn btn-outline-danger rounded-pill" onclick="eliminar_usuario('{% url 'eliminar_usuario' usuario.id %}')">
                                                      <i class="fa fa-trash"></i>
                                                  </a>
                                              {% endif %}
                                          </td>
                                      </tr>
                                      {% endfor %}
                                  </tbody>
                              </table>
                            </div>
                        {% else %}
                            <div class="card-header">
                                No tienes los permisos necesarios
                            </div>
                            <div class="card-body centered">
                                <p class="text-center">Solo personal autorizado</p>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Cambiar Contraseña -->
<div class="modal fade" id="changePasswordModal" tabindex="-1" aria-labelledby="changePasswordModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="changePasswordModalLabel">Cambiar Contraseña</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="changePasswordForm" method="POST" action="">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="old_password" class="form-label">Contraseña Actual</label>
                        <div class="input-group">
                            <input type="password" class="form-control" id="old_password" name="old_password" required>
                            <button type="button" class="btn btn-outline-secondary toggle-password" data-toggle="#old_password">
                                <i class="far fa-eye"></i>
                            </button>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="new_password1" class="form-label">Nueva Contraseña</label>
                        <div class="input-group">
                            <input type="password" class="form-control" id="new_password1" name="new_password1" required>
                            <button type="button" class="btn btn-outline-secondary toggle-password" data-toggle="#new_password1">
                                <i class="far fa-eye"></i>
                            </button>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="new_password2" class="form-label">Confirmar Nueva Contraseña</label>
                        <div class="input-group">
                            <input type="password" class="form-control" id="new_password2" name="new_password2" required>
                            <button type="button" class="btn btn-outline-secondary toggle-password" data-toggle="#new_password2">
                                <i class="far fa-eye"></i>
                            </button>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-outline-success">Cambiar Contraseña</button>
                    <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Cancelar</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal Dar admin -->
<div class="modal fade" id="changeAdminModal" tabindex="-1" aria-labelledby="changeAdminModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="changeAdminModalLabel">Promocionar usuario</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="text-warning"><b><i class="fa-solid fa-triangle-exclamation"></i> ¡AVISO!:</b></p>
                <p class="card-text"><b>Este usuario pasará a ser un Administrador General, por favor ingrese su contraseña para confirmar.</b></p>
                <form id="changeAdminForm" method="POST" action="">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="admin_password" class="form-label">Contraseña:</label>
                        <div class="input-group">
                            <input type="password" class="form-control" id="admin_password" name="admin_password" required>
                            <button type="button" class="btn btn-outline-secondary toggle-password" data-toggle="#admin_password">
                                <i class="far fa-eye"></i>
                            </button>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-outline-success">Promocionar usuario</button>
                    <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Cancelar</button>
                </form>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function() {
        $('#tbl_3').DataTable({
            dom: 'frtip',
            language: {
                url: "https://cdn.datatables.net/plug-ins/1.10.25/i18n/Spanish.json"
            },
            initComplete: function () {
                $('.dataTables_filter input[type="search"]').addClass('form-control');
            },
            pageLength: 4,
            drawCallback: function(settings) {
                // Aplicar las clases a los botones de paginación después de cada redibujo
                $('.paginate_button').addClass('btn btn-outline-primary');
            }
        });
    });
</script>

<!-- MENSAJE DE CONFIRMACIÓN ELIMINAR usuarios -->
<script type="text/javascript">
    function eliminar_usuario(url){
        iziToast.question({
            timeout: 15000,
            close: true,
            overlay: true,
            displayMode: 'once',
            id: 'question',
            zindex: 999,
            title: 'CONFIRMACIÓN',
            message: '¿Está seguro de eliminar el <b>usuario</b> seleccionado?',
            position: 'center',
            buttons: [
                ['<button><b>SI</b></button>', function (instance, toast) {
                    instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                    window.location.href = url;
                }, true],
                ['<button>NO</button>', function (instance, toast) {
                    instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                }],
            ]
        });
    }
</script>


<script type="text/javascript">
  $(document).ready(function() {
    // Asegurar contraseña fuerte
    $.validator.addMethod("strongPassword", function(value, element) {
      return this.optional(element) ||
        value.length >= 8 &&
        /[a-z]/.test(value) &&
        /[A-Z]/.test(value) &&
        /[0-9]/.test(value) &&
        /[@$!%*?&#]/.test(value);
      }, "La contraseña debe tener al menos 8 caracteres, incluyendo una letra mayúscula, una letra minúscula, un número y un carácter especial.");

    $("#changePasswordForm").validate({
      rules: {
        "old_password": {
          required: true
        },
        "new_password1": {
          required: true,
          strongPassword: true
        },
        "new_password2": {
          required: true,
          equalTo: "#new_password1"
        }
      },
      messages: {
        "old_password": {
          required: "Debe ingresar su contraseña actual"
        },
        "new_password1": {
          required: "Debe ingresar una nueva contraseña"
        },
        "new_password2": {
          required: "Debe confirmar su nueva contraseña",
          equalTo: "Las contraseñas no coinciden"
        }
      }
    });
  });
</script>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    document.querySelectorAll(".toggle-password").forEach(button => {
      button.addEventListener("click", function() {
        let input = document.querySelector(this.getAttribute("data-toggle"));
        if (input.type === "password") {
          input.type = "text";
        } else {
          input.type = "password";
        }
        this.querySelector("i").classList.toggle("fa-eye");
        this.querySelector("i").classList.toggle("fa-eye-slash");
      });
    });
  });
</script>


{% endblock %}
