{% extends 'adci_plantilla.html' %}
{% block usci_contenido %}

<div class="col-lg-8">
  <div class="row">
    <div class="col-lg-12">
      <!-- Yearly Breakup -->
      <div class="card overflow-hidden">
        <div class="card-body p-4">
          <h5 class="card-title mb-9 fw-semibold">Citas Creadas</h5><br>
          <div class="row align-items-center">
            <table id="tbl_horarios" class="table text-nowrap mb-0 align-middle">
              <thead class="text-dark fs-4">
                <tr>
                  <th class="border-bottom-0">
                    <h6 class="fw-semibold mb-0">Fecha</h6>
                  </th>
                  <th class="border-bottom-0">
                    <h6 class="fw-semibold mb-0">Horario</h6>
                  </th>
                  <th class="border-bottom-0">
                    <h6 class="fw-semibold mb-0">Solicitante</h6>
                  </th>
                  <th class="border-bottom-0">
                    <h6 class="fw-semibold mb-0">Estado</h6>
                  </th>
                  <th class="border-bottom-0">
                    <h6 class="fw-semibold mb-0">Acción</h6>
                  </th>
                </tr>
              </thead>
              <tbody>
                {% for cita in citas %}
                  <tr>
                      <td>{{ cita.fech_da }}</td>
                      <td>
                          {% if cita.time_da.hour < 12 %}
                              {{ cita.time_da|time:"h:i" }} AM
                          {% else %}
                              {{ cita.time_da|time:"h:i" }} PM
                          {% endif %}
                      </td>
                      <td>{{cita.nom_da}}</td>
                      <td>
                        {% if cita.est_da %}
                        <span class="text-info">Realizados</span>
                        {% else %}
                        <span class="text-warning">En espera</span>
                        {% endif %}
                      </td>
                      <td>
                        {% if cita.est_da %}
                        <span class="text-center">Sin Acciones</span>
                        {% else %}
                        <button type="button" class="btn btn-outline-warning rounded-pill" data-bs-toggle="modal" data-bs-target="#exampleModal"
                          data-id="{{ cita.id }}" data-diah="{{ cita.fech_da|date:'Y-m-d' }}" data-horario="{{ cita.time_da|time:'h:i' }}" data-nom="{{cita.nom_da}}" data-telf={{cita.telf_da}}
                          data-cortesia="{{cita.cort_da}}">
                           <i class="fas fa-edit"></i>
                        </button>
                          <a href="javascript:void(0)" onclick="delete_adci('/delete_adci/{{ cita.id }}');" class="btn btn-outline-danger rounded-pill"><i class="fa fa-trash"></i></a>
                        {% endif %}
                      </td>
                  </tr>
                  {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-lg-4 align-items-strech">
  <div class="card w-100">
    <div class="card-body">
      <div class="d-sm-flex d-block align-items-center justify-content-between mb-9">
        <div class="mb-3 mb-sm-0">
          <h5 class="card-title fw-semibold">Crear Citas</h5>
        </div>

      </div>
      <form action="/aggagenda_adci/" method="POST" id="vldt_dias">
        {% csrf_token %}
        <div class="mb-3">
          <label for="nom_da" class="form-label">Nombre del Cliente</label>
          <input type="text" class="form-control" name="nom_da" id="nom_da" placeholder="Ingrese el nombre del representante">
          <div class="error-message"></div>
        </div>

        <!-- VALIDACIÓN SOLO LETRAS -->
        <script type="text/javascript">
          $(document).ready(function() {
              // Validación para permitir solo letras y tildes en el campo de nombre
              $('#nom_da').on('input', function() {
                  var regex = /^[a-zA-ZáéíóúÁÉÍÓÚüÜ\s]+$/;
                  var inputText = $(this).val();
                  if (!regex.test(inputText)) {
                      $(this).val(inputText.slice(0, -1));
                  }

                  // Validación para permitir solo cuatro palabras en el campo de nombre
                  var inputTextTrimmed = inputText.trim();
                  var words = inputTextTrimmed.split(/\s+/);
                  if (words.length > 4) {
                      $(this).val(words.slice(0, 4).join(' '));
                  }
              });
          });

          $(document).ready(function() {
            // Validación para permitir solo letras y tildes en el campo de nombre
            $('#nom_da, #exampleModal #nom_da').on('input', function() {
                var regex = /^[a-zA-ZáéíóúÁÉÍÓÚüÜ\s]+$/;
                var inputText = $(this).val();
                if (!regex.test(inputText)) {
                    $(this).val(inputText.slice(0, -1));
                }

                // Validación para permitir solo cuatro palabras en el campo de nombre
                var inputTextTrimmed = inputText.trim();
                var words = inputTextTrimmed.split(/\s+/);
                if (words.length > 4) {
                    $(this).val(words.slice(0, 4).join(' '));
                }
            });
        });
        </script>

        <div class="mb-3">
          <label for="telf_da" class="form-label">Telf/Celular</label>
          <input type="text" class="form-control" name="telf_da" id="telf_da" placeholder="Ingrese el número de contacto">
          <div class="error-message"></div>
        </div>
        <div class="mb-3">
          <label for="fech_da" class="form-label">Fecha</label>
          <input type="date" class="form-control" name="fech_da" id="fech_da" aria-describedby="dateHelp">
          <div class="error-message"></div>
        </div>
        <div class="mb-3">
          <label for="time_da" class="form-label">Horario</label>
          <input type="time" class="form-control" name="time_da" id="time_da">
          <div class="error-message"></div>
        </div>
        <label for="cort_da" class="form-label">¿Cita de Cortesía?</label>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" name="cort_da" id="cort_da">
          <label class="form-check-label" for="cort_da">Confirmar</label>
          <div class="error-message"></div>
        </div>
        <button type="submit" class="btn btn-outline-primary rounded-pill m-2">Guardar</button>
        <button type="reset" name="button" class="btn btn-outline-danger rounded-pill m-2">Cancelar</button>
        <br><br>
      </form>
    </div>
  </div>
</div>



<!-- MODAL DE EDICIÓN DE HORARIO -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar Horario</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="./procesarActualizacionHorario/{{cita.id}}" method="POST" id="vldt_edidias">
          {% csrf_token %}
          <input type="hidden" name="data_id" id="modalId" value="{{cita.id}}">
          <div class="mb-3">
            <label for="modal_nom_da" class="form-label">Nombre del Cliente</label>
            <input type="text" class="form-control" name="nom_da" id="nom_da" placeholder="Ingrese el nombre del representante" required>
            <div class="error-message"></div>
          </div>
          <div class="mb-3">
            <label for="modal_telf_da" class="form-label">Contacto</label>
            <input type="text" class="form-control" name="telf_da" id="telf_da" placeholder="Ingrese un número de Contacto" required>
            <div class="error-message"></div>
          </div>
          <div class="mb-3">
            <label for="modal_fech_da" class="form-label">Fecha</label>
            <input type="date" class="form-control" name="fech_da" id="fech_da" aria-describedby="dateHelp" required>
            <div class="error-message"></div>
          </div>
          <div class="mb-3">
            <label for="modal_time_da" class="form-label">Horario</label>
            <input type="time" class="form-control" name="time_da" id="time_da" required>
            <div class="error-message"></div>
          </div>
          <label for="modal_cort_da" class="form-label">¿Cita de Cortesía?</label>
          <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" name="cort_da" id="cort_da">
            <label class="form-check-label" for="modal_cort_da">Confirmar</label>
            <div class="error-message"></div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-outline-success" id="saveChangesButton"><i class="fas fa-edit" title="Guardar Cambios"></i></button>


          </div>
        </form>
      </div>
    </div>
  </div>
</div>
          <br>
          <!-- SCRIPT PARA LLAMAR LA INFORMACIÓN -->
          <script type="text/javascript">

            var exampleModal = document.getElementById('exampleModal');
            exampleModal.addEventListener('show.bs.modal', function (event) {
              var button = event.relatedTarget;
              var id = button.getAttribute('data-id');
              var fech_da = button.getAttribute('data-diah');
              var horario = button.getAttribute('data-horario');
              var nomDa = button.getAttribute('data-nom');
              var telfDa = button.getAttribute('data-telf');
              var cortesia = button.getAttribute('data-cortesia') === "True"; // Convierte a booleano

              var form = document.getElementById('vldt_edidias');

              var modalId = exampleModal.querySelector('#modalId');
              var modalFechDa = exampleModal.querySelector('#fech_da');
              var modalNomDa = exampleModal.querySelector('#nom_da');
              var modalTelfDa = exampleModal.querySelector('#telf_da');
              var modalTimeDa = exampleModal.querySelector('#time_da');
              var modalCortDa = exampleModal.querySelector('#cort_da');

              modalId.value = id;
             form.action = "./procesarActualizacionHorario/" + id + "/";

              modalNomDa.value = nomDa;  // Asignar el nombre del cliente
              modalTelfDa.value = telfDa;  // Asignar el teléfono/celular
              modalFechDa.value = fech_da;  // Asignar la fecha al input de tipo date
              modalTimeDa.value = horario; // Asignar el horario al input de tipo time
              modalCortDa.checked = cortesia; // Marcar o desmarcar el checkbox
            });


          </script>

          <script type="text/javascript">
            $(document).ready(function() {
              // Función para establecer la fecha mínima en los inputs de tipo date
              function setMinDate(input) {
                var today = new Date();
                var day = String(today.getDate()).padStart(2, '0');
                var month = String(today.getMonth() + 1).padStart(2, '0'); // Enero es 0
                var year = today.getFullYear();

                var minDate = year + '-' + month + '-' + day;

                input.setAttribute('min', minDate);
              }

              // Llamar a la función para establecer el min date en el input de tipo date del formulario de creación
              setMinDate(document.getElementById('fech_da'));

              // Llamar a la función para establecer el min date en el input de tipo date del formulario de edición (modal)
              setMinDate(document.getElementById('exampleModal').querySelector('#fech_da'));
            });
          </script>


<!-- CONFIGURACCIÓN DE TABLA -->
<script type="text/javascript">
  $(document).ready(function() {
      $('#tbl_horarios').DataTable( {
          dom: 'frtip',
          language: {
              url: "https://cdn.datatables.net/plug-ins/1.10.25/i18n/Spanish.json"
          },
          initComplete: function () {
              $('.dataTables_filter input[type="search"]').addClass('form-control');
          },
          pageLength: 6,
          //order: [[0, 'desc']],
          drawCallback: function(settings) {
              // Aplicar las clases a los botones de paginación después de cada redibujo
              $('.paginate_button').addClass('btn btn-outline-primary');
          }
      });
  });
</script>

<!-- MENSAJE DE CONFIRMACIÓN ELIMINAR DIAHORARIO -->
<script type="text/javascript">
        function delete_adci(url){
          iziToast.question({
              timeout: 15000,
              close: true,
              overlay: true,
              displayMode: 'once',
              id: 'question',
              zindex: 999,
              title: 'CONFIRMACIÓN',
              message: '¿Está seguro de eliminar la <b>cita </b> seleccionada?',
              position: 'center',
              buttons: [
                  ['<button><b>SI</b></button>', function (instance, toast) {
                      instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                      window.location.href=url;
                  }, true],
                  ['<button>NO</button>', function (instance, toast) {

                      instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');

                  }],
              ]
          });
        }


{% if messages %}
    {% for message in messages %}
        iziToast.success({
            title: 'Éxito',
            message: '{{ message }}',
            position: 'topRight',
        });
    {% endfor %}
{% endif %}
  </script>



  <script type="text/javascript">
      $(document).ready(function() {
          $.validator.addMethod("appointmentExists", function(value, element) {
              if ($("#fech_da").val() && $("#time_da").val()) {
                  let response = false;
                  $.ajax({
                      type: "POST",
                      url: "{% url 'check_appointment' %}",
                      data: {
                          "fech_da": $("#fech_da").val(),
                          "time_da": $("#time_da").val(),
                          "csrfmiddlewaretoken": "{{ csrf_token }}"
                      },
                      async: false,
                      success: function(data) {
                          response = !data.exists;
                      }
                  });
                  return response;
              }
              return true;
          }, "Esta fecha y hora ya están reservadas.");

          $.validator.addMethod("validServiceTimeRange", function(value, element) {
              if (value) {
                  var selectedDateTime = new Date($("#fech_da").val() + " " + value);
                  var hours = selectedDateTime.getHours();
                  var minutes = selectedDateTime.getMinutes();

                  // Restricciones de horario
                  if ((hours >= 8 && hours < 13) || (hours >= 16 && hours < 20) || (hours == 13 && minutes == 0) || (hours == 20 && minutes == 0)) {
                      return true;
                  } else {
                      return false;
                  }
              }
              return true;
          }, "El horario debe estar entre 8am-1pm o 4pm-8pm.");

          $.validator.addMethod("notInPast", function(value, element) {
              if ($("#fech_da").val() && value) {
                  var selectedDateTime = new Date($("#fech_da").val() + " " + value);
                  var currentDateTime = new Date();

                  // Verificar si la fecha y hora seleccionada es anterior a la fecha y hora actual
                  if (selectedDateTime < currentDateTime) {
                      return false;
                  }
              }
              return true;
          }, "No puedes seleccionar una hora pasada para la fecha de hoy.");

          // Validación para el formulario de creación
          $("#vldt_dias").validate({
              rules: {
                  nom_da: {
                      required: true,
                  },
                  telf_da: {
                      required: true,
                  },
                  fech_da: {
                      required: true,
                      appointmentExists: true
                  },
                  time_da: {
                      required: true,
                      appointmentExists: true,
                      validServiceTimeRange: true,
                      notInPast: true
                  }
              },
              messages: {
                  nom_da: {
                      required: "Debe ingresar el nombre del cliente",
                  },
                  telf_da: {
                      required: "Debe ingresar el contacto del cliente",
                  },
                  fech_da: {
                      required: "Debe ingresar la fecha de la cita",
                      appointmentExists: "Esta fecha y hora ya están reservadas."
                  },
                  time_da: {
                      required: "Debe ingresar el horario de la cita",
                      appointmentExists: "Esta fecha y hora ya están reservadas.",
                      validServiceTimeRange: "El horario debe estar entre 8am-1pm o 4pm-8pm.",
                      notInPast: "No puedes seleccionar una hora pasada para la fecha de hoy."
                  }
              },
              errorPlacement: function(error, element) {
                  error.appendTo(element.parent().find('.error-message'));
              },
              onkeyup: function(element) {
                  $(element).valid();
              },
              onfocusout: function(element) {
                  $(element).valid();
              }
          });

          // Validación para el formulario de edición (modal)
          function initializeModalValidation() {
              $("#vldt_edidias").validate({
                  rules: {
                      nom_da: {
                          required: true,
                      },
                      telf_da: {
                          required: true,
                      },
                      fech_da: {
                          required: true,
                      },
                      time_da: {
                          required: true,
                          validServiceTimeRange: true,
                          notInPast: true
                      }
                  },
                  // Mensajes de error
                  messages: {
                      nom_da: {
                          required: "Debe ingresar el nombre del cliente",
                      },
                      telf_da: {
                          required: "Debe ingresar el contacto del cliente",
                      },
                      fech_da: {
                          required: "Debe ingresar la fecha de la cita"
                      },
                      time_da: {
                          required: "Debe ingresar el horario de la cita",
                          validServiceTimeRange: "El horario debe estar entre 8am-1pm o 4pm-8pm.",
                          notInPast: "No puedes seleccionar una hora pasada para la fecha de hoy."
                      }
                  },
                  // Colocar los mensajes de error en el lugar correcto
                  errorPlacement: function(error, element) {
                      error.appendTo(element.parent().find('.error-message'));
                  },
                  // Validar en tiempo real al escribir o al perder el foco
                  onkeyup: function(element) {
                      $(element).valid();
                  },
                  onfocusout: function(element) {
                      $(element).valid();
                  }
              });
          }

          // Inicializar validación del modal cuando se muestre
          $('#exampleModal').on('shown.bs.modal', function () {
              initializeModalValidation();
          });

          $("#fech_da, #time_da").change(function() {
              if ($("#fech_da").val() && $("#time_da").val()) {
                  $("#vldt_dias").validate().element("#fech_da");
                  $("#vldt_dias").validate().element("#time_da");

                  if ($("#vldt_edidias").length) {
                      $("#vldt_edidias").validate().element("#fech_da");
                      $("#vldt_edidias").validate().element("#time_da");
                  }
              }
          });
      });

      $(document).ready(function() {
          // Función para deshabilitar el botón de guardar cambios
          function disableSaveButton() {
              $('#saveChangesButton').prop('disabled', true);
          }

          // Función para habilitar el botón de guardar cambios
          function enableSaveButton() {
              $('#saveChangesButton').prop('disabled', false);
          }

          // Deshabilitar el botón de guardar cambios al cargar la página
          disableSaveButton();

          // Detectar cambios en el formulario dentro del modal
          $('#exampleModal form').on('input', function() {
              enableSaveButton();
          });

          // Deshabilitar el botón de guardar cambios al cerrar el modal
          $('#exampleModal').on('hidden.bs.modal', function () {
              disableSaveButton();
          });
      });
  </script>




{% endblock %}
