{% extends 'adci_plantilla.html' %}
{% block usci_contenido %}
<div class="row">
  <div class="col-lg-3 d-flex align-items-stretch">
    <div class="card w-100">
      <div class="card-body d-flex flex-column p-4">
        <div class="mb-4">
          <h5 class="card-title fw-semibold">Reportes</h5>
        </div>
        <div class="mb-4">
          <h5 class="card-title fw-semibold">Totales anuales</h5>
          <h4 class=" text-success">{{ totales.total_anual }} $</h4>
        </div>
        <div class="mb-4">
          <h5 class="card-title fw-semibold">Total 1° Semestre</h5>
          <h4 class=" text-success">{{ totales.total_primer_semestre }} $</h4>
        </div>
        <div class="mb-4">
          <h5 class="card-title fw-semibold">Total 2° Semestre</h5>
          <h4 class=" text-success">{{ totales.total_segundo_semestre }} $</h4>
        </div>
        <div class="mb-4">
          <a href="./cont_int/" class="btn btn-outline-success">Seguimiento Interno</a>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-9 d-flex align-items-stretch">
    <div class="card w-100">
      <div class="card-body p-4">
        <h5 class="card-title fw-semibold mb-4">Seguimiento de Citas</h5>
        <div class="table-responsive">
          <table id="tbl_cont" class="table text-nowrap mb-0 align-middle table-bordered">
            <thead class="text-dark fs-4">
              <tr>
                <th class="border-bottom-0">
                  <h6 class="fw-semibold mb-0">Fecha</h6>
                </th>
                <th class="border-bottom-0">
                  <h6 class="fw-semibold mb-0">ID</h6>
                </th>
                <th class="border-bottom-0">
                  <h6 class="fw-semibold mb-0">Descripción</h6>
                </th>
                <th class="border-bottom-0">
                  <h6 class="fw-semibold mb-0">Valor</h6>
                </th>
                <th class="border-bottom-0">
                  <h6 class="fw-semibold mb-0">Observación</h6>
                </th>
                <th class="border-bottom-0">
                  <h6 class="fw-semibold mb-0">Acciones</h6>
                </th>
              </tr>
            </thead>
            <tbody>
              {% for fact in facturas %}
                <tr>
                  <td>{{ fact.fechfac.fech_da }}</td>
                  <td class="table-warning">{{ fact.idfac }}</td>
                  <td>{{ fact.descfac }}</td>
                  <td>{{ fact.valfac }} $</td>
                  <td>{{ fact.obsfac }}</td>
                  <td>
                    <a href="#" class="btn btn-outline-warning">
                      <i class="fa-regular fa-pen-to-square"></i>
                    </a>
                    <button type="button" class="btn btn-outline-danger" onclick="cont_delete({{ fact.id }})">
                      <i class="fa-solid fa-trash"></i>
                    </button>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- MODAL PARA COMENTARIOS DE ELIMINACIÓN -->
<div class="modal fade" id="exampleModal" aria-hidden="true" aria-labelledby="exampleModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Eliminar comprobante</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="deleteCommentForm" method="post">
          {% csrf_token %}
          <div class="mb-3">
            <label for="deleteComment" class="form-label">Ingrese el motivo de la cancelación de la cita:</label>
            <textarea class="form-control" id="deleteComment" name="deleteComment" rows="3" required></textarea>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" id="deleteDateButton" class="btn btn-danger">Confirmar Eliminación</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<style>
    /* Agregar espacio entre el buscador y la tabla */
    .dataTables_filter {
        margin-bottom: 20px;
    }

    /* Personaliza el estilo de los botones */
    .dt-buttons {
        margin-bottom: 20px; /* Espacio entre los botones y el buscador */
    }

    .dt-button {
        margin-right: 5px; /* Espacio entre los botones */
    }
</style>
<!-- CONFIGURACCIÓN DE TABLA -->
<script type="text/javascript">
  $(document).ready(function() {
        function cont_delete(id) {
            // Mostrar el modal
            $('#exampleModal').modal('show');

            // Ajustar el action del formulario para incluir el ID de la factura
            var url = "{% url 'cont_delete' id=0 %}".replace('0', id);
            $('#deleteCommentForm').attr('action', url);
        }

        // Manejar la confirmación dentro del modal
        $('#deleteDateButton').off('click').on('click', function(e) {
            e.preventDefault();

            iziToast.question({
                timeout: 15000,
                close: true,
                overlay: true,
                displayMode: 'once',
                id: 'question',
                zindex: 9999,
                title: 'CONFIRMACIÓN',
                message: '¿Está seguro de cancelar la cita seleccionada (Por favor verifique la información)?',
                position: 'center',
                buttons: [
                    ['<button><b>SI</b></button>', function (instance, toast) {
                        instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');

                        // Enviar el formulario
                        $('#deleteCommentForm').submit();
                    }, true],
                    ['<button>NO</button>', function (instance, toast) {
                        instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                    }],
                ]
            });
        });

        // Exponer la función cont_delete globalmente
        window.cont_delete = cont_delete;
        $('#tbl_cont').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    {
                        extend: 'print',
                        text: '<i class="fa-solid fa-print"></i> Imprimir',
                        className: 'btn btn-outline-info',
                        messageTop: 'REPORTE DE MEDIKID',
                        title: 'Comprobantes realizados',
                        messageBottom: '"Para nuestros hijos siempre lo mejor"',
                        exportOptions: {
                            columns: ':not(:last-child)'  // Excluir la última columna (Acciones)
                        }
                    },
                    {
                        extend: 'csv',
                        text: '<i class="fa-solid fa-file-csv"></i> Exportar a CSV',
                        className: 'btn btn-outline-info',
                        messageTop: 'Comprobantes realizados',
                        title: 'REPORTE DE MEDIKID',
                        exportOptions: {
                            columns: ':not(:last-child)'  // Excluir la última columna (Acciones)
                        }
                    }
                ],
                language: {
                    url: "https://cdn.datatables.net/plug-ins/1.10.25/i18n/Spanish.json"
                },
                initComplete: function() {
                    $('.dataTables_filter input').addClass('form-control');
                },
                pageLength: 6,
                drawCallback: function(settings) {
                    // Aplicar las clases a los botones de paginación después de cada redibujo
                    $('.paginate_button').addClass('btn btn-outline-primary');
                }
            });
  } );
</script>
{% endblock %}
