{% extends 'adci_plantilla.html' %}
{% block usci_contenido %}
<div class="col-lg-12">
  <div class="row">
    <div class="col-lg-12">
      <div class="card overflow-hidden">
        <div class="card-body p-4">
          <h6 class="card-title mb-9 fw-semibold">Comentario del cliente</h6>
          <div class="row align-items-center table-responsive">
            <p>{{solicitudes.comentario}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-lg-12">
  <div class="row">
    <div class="col-lg-12">
      <!-- Yearly Breakup -->
      <div class="card overflow-hidden">
        <div class="card-body p-4">
          <h5 class="card-title mb-9 fw-semibold">Solicitud de Citas</h5>
          <div class="row align-items-center table-responsive">
            <form action="" method="POST" id="vldt_dias">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="nom_da" class="form-label">Nombre del Cliente</label>
                    <input type="text" class="form-control" name="nom_da" id="nom_da" placeholder="Ingrese el nombre del representante" value="{{solicitudes.nom_da}}">
                    <div id="create_error_nom_da" class="error-messages"></div>
                </div>
                <div class="mb-3">
                    <label for="telf_da" class="form-label">Telf/Celular</label>
                    <input type="text" class="form-control" name="telf_da" id="telf_da" placeholder="Ingrese el número de contacto" value="{{solicitudes.telf_da}}">
                    <div id="create_error_telf_da" class="error-messages"></div>
                </div>
                <div class="mb-3">
                    <label for="correo_da" class="form-label">Correo</label>
                    <input type="text" class="form-control" name="correo_da" id="modal_correo_da" placeholder="Ingrese el correo del cliente" required value="{{solicitudes.correo_da}}">
                    <div id="edit_error_correo_da" class="error-messages"></div>
                </div>
                <div class="row">
                    <div class="mb-3 col-md-11">
                        <label for="fech_da" class="form-label">Fecha solicitada</label>
                        <input type="date" class="form-control" name="fech_da" id="fech_da" aria-describedby="dateHelp" value="{{solicitudes.fech_da|date:'Y-m-d'}}">
                        <div id="create_error_fech_da" class="error-messages"></div>
                    </div>
                    <div class="col-md-1 d-flex align-items-center justify-content-center">
                        <i id="create_fech_da_icon" class="fas fa-minus text-muted" style="margin-top: 12px; margin-right:12px;" title="Esperando datos..."></i>
                    </div>
                </div>
                <div class="row">
                    <div class="mb-3 col-md-11">
                        <label for="time_da" class="form-label">Horario</label>
                        <input type="time" class="form-control" name="time_da" id="time_da">
                        <div id="create_error_time_da" class="error-messages"></div>
                    </div>
                    <div class="col-md-1 d-flex align-items-center justify-content-center">
                        <i id="create_time_da_icon" class="fas fa-minus text-muted" style="margin-top: 12px; margin-right:12px;" title="Esperando datos..."></i>
                    </div>
                </div>
                <button type="submit" class="btn btn-outline-success">Guardar</button>
                <a href="{% url 'adci_fechacitas' %}" class="btn btn-outline-danger">Cancelar</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function() {
      // Función para verificar la disponibilidad de la cita
      function verificarDisponibilidad(fecha, hora) {
          $('#create_fech_da_icon, #create_time_da_icon')
              .removeClass('fa-check fa-times text-success text-danger')
              .addClass('fa-spinner fa-spin text-muted')
              .attr('title', 'Esperando datos...')
              .tooltip('dispose')
              .tooltip();

          // Limpiar mensajes de error previos y estilos
          $('.error-messages').text('').removeClass('text-danger');
          $('#fech_da, #time_da').removeClass('input-error');

          if (fecha && hora) {
              $.ajax({
                  url: '{% url "verificar_cita" %}',  // Asegúrate de que esta URL sea correcta
                  data: {
                      'fecha': fecha,
                      'hora': hora
                  },
                  success: function(data) {
                      $('#create_fech_da_icon, #create_time_da_icon').tooltip('dispose'); // Destruir tooltips existentes
                      if (data.existe) {
                          $('#create_fech_da_icon, #create_time_da_icon')
                              .removeClass('fa-spinner fa-spin text-muted')
                              .addClass('fa-times text-danger')
                              .attr('title', 'Cita ya registrada')
                              .tooltip(); // Inicializar nuevo tooltip

                          // Mostrar mensaje de error y aplicar estilos
                          $('#create_error_fech_da').text('Fecha no disponible.').addClass('text-danger');
                          $('#create_error_time_da').text('Hora no disponible.').addClass('text-danger');
                          $('#fech_da, #time_da').addClass('input-error');
                      } else {
                          $('#create_fech_da_icon, #create_time_da_icon')
                              .removeClass('fa-spinner fa-spin text-muted')
                              .addClass('fa-check text-success')
                              .attr('title', 'Cita disponible')
                              .tooltip(); // Inicializar nuevo tooltip

                          // Limpiar mensajes de error y estilos
                          $('#create_error_fech_da').text('');
                          $('#create_error_time_da').text('');
                          $('#fech_da, #time_da').removeClass('input-error');
                      }
                  },
                  error: function() {
                      $('#create_fech_da_icon, #create_time_da_icon').tooltip('dispose'); // Destruir tooltips existentes
                      $('#create_fech_da_icon, #create_time_da_icon')
                          .removeClass('fa-spinner fa-spin text-muted')
                          .addClass('fa-minus text-muted')
                          .attr('title', 'Error al verificar la cita.')
                          .tooltip(); // Inicializar nuevo tooltip
                  }
              });
          } else {
              $('#create_fech_da_icon, #create_time_da_icon').tooltip('dispose'); // Destruir tooltips existentes
              $('#create_fech_da_icon, #create_time_da_icon')
                  .removeClass('fa-spinner fa-spin text-muted')
                  .addClass('fa-minus text-muted')
                  .attr('title', 'Esperando datos...')
                  .tooltip(); // Inicializar nuevo tooltip
          }
      }

      // Validación del formulario de creación de citas
      $("#vldt_dias").validate({
          rules: {
              nom_da: {
                  required: true,
              },
              telf_da: {
                  required: true,
                  digits: true,
                  minlength: 10,
                  maxlength: 15
              },
              correo_da: {
                  required: true,
                  email: true
              },
              fech_da: {
                  required: true,
                  date: true,
                  noPastDate: true,
                  notTooFarFuture: true // Aquí se aplica la nueva validación de 4 meses
              },
              time_da: {
                  required: true,
                  validTimeRange: true,
                  validTimeIfToday: true
              }
          },
          messages: {
              nom_da: {
                  required: "Debe ingresar el nombre del cliente",
              },
              telf_da: {
                  required: "Debe ingresar el contacto del cliente",
                  digits: "Ingrese solo números",
                  minlength: "Ingrese al menos 10 dígitos",
                  maxlength: "Ingrese no más de 15 dígitos"
              },
              correo_da: {
                  required: "Debe ingresar el correo del cliente",
                  email: "Ingrese un correo válido"
              },
              fech_da: {
                  required: "Debe ingresar la fecha de la cita",
                  date: "Ingrese una fecha válida",
                  noPastDate: "Debe ingresar una fecha actual o futura",
                  notTooFarFuture: "La fecha no debe ser mayor a 4 meses" // Mensaje de error para la nueva validación
              },
              time_da: {
                  required: "Debe ingresar el horario de la cita",
                  validTimeRange: "Horario fuera de servicio",
                  validTimeIfToday: "La hora ingresada debe ser mayor o igual a la hora actual"
              }
          },
          errorPlacement: function(error, element) {
              element.closest('.mb-3').find('.error-messages').html(error);
          },
          onkeyup: function(element) {
              $(element).valid();
          },
          onfocusout: function(element) {
              $(element).valid();
          }
      });

      // Añadir método de validación personalizado para fechas pasadas
      $.validator.addMethod("noPastDate", function(value, element) {
          var today = new Date();
          today.setHours(0, 0, 0, 0); // Establecer la hora a 00:00:00

          // Asegurarse de que el valor ingresado esté en formato yyyy-mm-dd
          var inputDateParts = value.split("-");
          var inputDate = new Date(inputDateParts[0], inputDateParts[1] - 1, inputDateParts[2]);
          inputDate.setHours(0, 0, 0, 0); // Establecer la hora a 00:00:00

          return this.optional(element) || inputDate >= today;
      }, "Debe ingresar una fecha actual o futura");

      // Añadir método de validación personalizado para fechas muy futuras (máximo 4 meses)
      $.validator.addMethod("notTooFarFuture", function(value, element) {
          var today = new Date();
          var maxDate = new Date();
          maxDate.setMonth(today.getMonth() + 4); // Establecer la fecha máxima a 4 meses en el futuro
          maxDate.setHours(0, 0, 0, 0); // Establecer la hora a 00:00:00

          var inputDateParts = value.split("-");
          var inputDate = new Date(inputDateParts[0], inputDateParts[1] - 1, inputDateParts[2]);
          inputDate.setHours(0, 0, 0, 0); // Establecer la hora a 00:00:00

          return this.optional(element) || inputDate <= maxDate;
      }, "La fecha no debe ser mayor a 4 meses");

      // Añadir método de validación personalizado para horarios permitidos
      $.validator.addMethod("validTimeRange", function(value, element) {
          if (this.optional(element)) {
              return true;
          }
          var time = value.split(":");
          var hour = parseInt(time[0]);
          var minutes = parseInt(time[1]);
          var morningStart = 8 * 60; // 8:00 AM en minutos
          var morningEnd = 13 * 60; // 1:00 PM en minutos
          var afternoonStart = 16 * 60; // 4:00 PM en minutos
          var afternoonEnd = 20 * 60; // 8:00 PM en minutos
          var inputTime = hour * 60 + minutes; // Convertir la hora ingresada a minutos
          return (inputTime >= morningStart && inputTime < morningEnd) || (inputTime >= afternoonStart && inputTime < afternoonEnd);
      }, "Horario fuera de servicio");

      $.validator.addMethod("validTimeIfToday", function(value, element) {
          var dateField = $(element).closest('form').find('input[name="fech_da"]').val();
          var today = new Date();
          var inputDateParts = dateField.split("-");
          var inputDate = new Date(inputDateParts[0], inputDateParts[1] - 1, inputDateParts[2]);

          // Si la fecha no es hoy, no hacer nada
          if (inputDate.setHours(0, 0, 0, 0) !== today.setHours(0, 0, 0, 0)) {
              return true;
          }

          var now = new Date();
          var inputTimeParts = value.split(":");
          var inputTime = new Date();
          inputTime.setHours(inputTimeParts[0], inputTimeParts[1], 0, 0);

          // Verificar que la hora ingresada no sea menor a la hora actual
          return inputTime >= now;
      }, "La hora ingresada debe ser mayor o igual a la hora actual");

      // Verificar disponibilidad al cambiar la fecha o la hora
      $('#fech_da, #time_da').change(function() {
          var fecha = $('#fech_da').val();
          var hora = $('#time_da').val();
          verificarDisponibilidad(fecha, hora);
      });
  });
</script>

<style>
  .input-error {
    border-color: #dc3545;
    box-shadow: 0 0 5px rgba(220, 53, 69, 0.5);
  }
</style>

{% endblock %}
