<!doctype html>
{% load static %}
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Restablecer Contraseña</title>
  <link rel="shortcut icon" type="image/png" href="../assets/images/logos/favicon.png" />
  <link rel="stylesheet" href="{% static 'css/styles.min.css' %}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/css/iziToast.css" integrity="sha512-DIW4FkYTOxjCqRt7oS9BFO+nVOwDL4bzukDyDtMO7crjUZhwpyrWBFroq+IqRe6VnJkTpRAS6nhDvf0w+wHmxg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/js/iziToast.min.js" integrity="sha512-Zq9o+E00xhhR/7vJ49mxFNJ0KQw1E1TMWkPTxrWcnpfEFDEXgUiwJHIKit93EW/XxE31HSI5GEOW06G6BF1AtA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <div class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
      <div class="d-flex align-items-center justify-content-center w-100">
        <div class="row justify-content-center w-100">
          <div class="col-md-8 col-lg-6 col-xxl-3">
            <div class="card mb-0">
              <div class="card-body">
                <div class="text-center">
                  <a href="{% url 'index' %}" class="text-nowrap logo-img">
                    <img src="{% static 'images/logo.png' %}" width="165" alt="" />
                  </a>
                  <p class="text-center">Restablecer Contraseña</p>
                </div>
                <form id="reset_password_form" method="post">
                  {% csrf_token %}
                  <div class="mb-3">
                    <label for="code" class="form-label">Código de Verificación</label>
                    <input type="text" class="form-control" name="code" id="code" required>
                    <div class="error-message-code text-danger"></div>
                  </div>
                  <div class="mb-3">
                    <label for="new_password" class="form-label">Nueva Contraseña</label>
                    <div class="input-group">
                      <input type="password" class="form-control" name="new_password" id="new_password" required>
                      <button type="button" class="btn btn-outline-secondary toggle-password" data-toggle="#new_password">
                        <i class="far fa-eye"></i>
                      </button>
                    </div>
                    <div class="error-message-new-password text-danger"></div>
                  </div>
                  <div class="mb-3">
                    <label for="confirm_password" class="form-label">Confirmar Nueva Contraseña</label>
                    <div class="input-group">
                      <input type="password" class="form-control" name="confirm_password" id="confirm_password" required>
                      <button type="button" class="btn btn-outline-secondary toggle-password" data-toggle="#confirm_password">
                        <i class="far fa-eye"></i>
                      </button>
                    </div>
                    <div class="error-message-confirm-password text-danger"></div>
                  </div>
                  <button type="submit" class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2">Restablecer Contraseña</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% if messages %}
    {% for mensaje in messages %}
      <script type="text/javascript">
        var mensajeTexto = "{{ mensaje|escapejs }}";
        if (mensajeTexto.includes("no")) {
          iziToast.error({
            title: 'Cancelado',
            message: mensajeTexto,
            position: 'topRight',
          });
        } else if (mensajeTexto.includes("restablecimiento")) {
          iziToast.success({
            title: 'Éxito',
            message: mensajeTexto,
            position: 'topRight',
          });
        } else {
          iziToast.error({
            title: 'Error',
            message: mensajeTexto,
            position: 'topRight',
          });
        }
      </script>
    {% endfor %}
  {% endif %}

  <script>
    $(document).ready(function() {
      // Método personalizado para asegurar una contraseña fuerte
      $.validator.addMethod("strongPassword", function(value, element) {
        return this.optional(element) ||
          value.length >= 8 &&
          /[a-z]/.test(value) &&
          /[A-Z]/.test(value) &&
          /[0-9]/.test(value) &&
          /[@$!%*?&#]/.test(value);
      }, "La contraseña debe tener al menos 8 caracteres, incluyendo una letra mayúscula, una letra minúscula, un número y un carácter especial.");

      // Validación del formulario
      $("#reset_password_form").validate({
        rules: {
          "code": {
            required: true,
            digits: true
          },
          "new_password": {
            required: true,
            strongPassword: true
          },
          "confirm_password": {
            required: true,
            equalTo: "#new_password"
          }
        },
        messages: {
          "code": {
            required: "El código de verificación es requerido",
            digits: "Solo se permiten números"
          },
          "new_password": {
            required: "La nueva contraseña es requerida"
          },
          "confirm_password": {
            required: "Debe confirmar su nueva contraseña",
            equalTo: "Las contraseñas no coinciden"
          }
        },
        errorPlacement: function(error, element) {
          if (element.attr("name") === "code") {
            error.appendTo(element.next(".error-message-code"));
          } else if (element.attr("name") === "new_password") {
            error.appendTo(element.closest(".input-group").next(".error-message-new-password"));
          } else if (element.attr("name") === "confirm_password") {
            error.appendTo(element.closest(".input-group").next(".error-message-confirm-password"));
          }
        }
      });

      // Función para alternar la visibilidad de la contraseña
      $(".toggle-password").click(function() {
        $(this).find("i").toggleClass("fa-eye fa-eye-slash");
        var input = $($(this).attr("data-toggle"));
        if (input.attr("type") === "password") {
          input.attr("type", "text");
        } else {
          input.attr("type", "password");
        }
      });

      // Validación de solo números en el campo de código de verificación
      $('#code').on('input', function() {
        this.value = this.value.replace(/[^0-9]/g, '');
      });
    });
  </script>
</body>
</html>
