<!doctype html>
{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Registrarse</title>
  <link rel="shortcut icon" type="image/png" href="../assets/images/logos/favicon.png" />
  <link rel="stylesheet" href="{% static 'css/styles.min.css' %}" />
  <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
  <!-- jQuery Validate -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
  <link rel="stylesheet" href="{% static 'css/estilo_validacion.css' %}" />

  <!-- IziToast -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/css/iziToast.css" integrity="sha512-DIW4FkYTOxjCqRt7oS9BFO+nVOwDL4bzukDyDtMO7crjUZhwpyrWBFroq+IqRe6VnJkTpRAS6nhDvf0w+wHmxg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/js/iziToast.min.js" integrity="sha512-Zq9o+E00xhhR/7vJ49mxFNJ0KQw1E1TMWkPTxrWcnpfEFDEXgUiwJHIKit93EW/XxE31HSI5GEOW06G6BF1AtA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</head>

<body>
  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <div
      class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
      <div class="d-flex align-items-center justify-content-center w-100">
        <div class="row justify-content-center w-100">
          <div class="col-md-8 col-lg-6 col-xxl-3">
            <div class="card mb-0">
              <div class="card-body">
                <a href="./index.html" class="text-nowrap logo-img text-center d-block py-3 w-100">
                  <img src="{% static 'images/logos/dark-logo.svg' %}" width="180" alt="">
                </a>
                <p class="text-center">Tu Centro Médico Favorito</p>
                <form id="reg_val"  method="post">
                  {% csrf_token %}
                  <!-- <div class="mb-3">
                    <label for="disabledSelect" class="form-label">Género:</label>
                    <select id="id_gen" name="id_gen" class="form-select">
                      <option value="">Escoge un género</option>
                      {% for genero in generos %}
                      <option value="{{ genero.id }}">{{ genero.nombre_gen }}</option>
                      {% endfor %}
                    </select>
                  </div> -->
                  <div class="mb-3">
                    <label for="username" class="form-label">Correo:</label>
                    <input type="email" class="form-control" name="username" id="username" aria-describedby="emailHelp">
                  </div>
                  <div class="mb-4">
                    <label for="password" class="form-label">Contraseña</label>
                    <input type="password" class="form-control" name="password" id="password">
                  </div>
                  <button type="submit" class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2" name="button">Registrarse</button>
                  <div class="d-flex align-items-center justify-content-center">
                    <p class="fs-4 mb-0 fw-bold">Ya tienes una cuenta?</p>
                    <a class="text-primary fw-bold ms-2" href="/usci_login/">Iniciar Sesión</a>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="{% static 'libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
</body>
<script type="text/javascript">
  // Asegurar contraseña fuerte
  $.validator.addMethod("strongPassword", function(value, element) {
    return this.optional(element) ||
      value.length >= 8 &&
      /[a-z]/.test(value) &&
      /[A-Z]/.test(value) &&
      /[0-9]/.test(value) &&
      /[@$!%*?&#]/.test(value);
    }, "La contraseña debe tener al menos 8 caracteres, incluyendo una letra mayúscula, una letra minúscula, un número y un carácter especial.");

  // Evitar correos repetitivos
  // $.validator.addMethod("emailExists", function(value, element) {
  //
  //     return new Promise(function(resolve, reject) {
  //         $.ajax({
  //             type: "GET",
  //             url: "/check-email/",
  //             data: {
  //                 "correo_us": value
  //             },
  //             success: function(data) {
  //                 resolve(!data.exists);
  //             },
  //             error: function() {
  //                 resolve(false);
  //             }
  //         });
  //     });
  // }, "El correo ya está en uso.");

      $.validator.addMethod("emailExists", function(value, element) {
        let response;
        $.ajax({
          type: "GET",
          url: "/check-email/",
          data: {
            "correo_us": value
          },
          // async: false,
          success: function(data) {
            response = !data.exists;
          }
        });
        return response;
      }, "El correo ya está en uso.");


    $("#reg_val").validate({
      rules: {
        "nombre_us": {
          required: true
        },
        "apellido_us": {
          required: true
        },
        "id_gen": {
          required: true
        },
        "correo_us": {
          required: true,
          email: true,
          emailExists: true
        },
        "pass_us": {
          required: true,
          strongPassword: true
        },
        "confpass_us": {
          required: true,
          equalTo: "#pass_us"
        }
      },
      messages: {
        "nombre_us": {
          required: "Debe registrar su nombre"
        },
        "apellido_us": {
          required: "Debe registrar su apellido"
        },
        "id_gen": {
          required: "Debe seleccionar su género"
        },
        "correo_us": {
          required: "Debe registrar su correo",
          email: "Debe ingresar un correo electrónico válido"
        },
        "pass_us": {
          required: "Debe registrar una contraseña"
        },
        "confpass_us": {
          required: "Debe confirmar su contraseña",
          equalTo: "Las contraseñas no coinciden"
        }
      }
    });


</script>
{% if messages %}
    {% for mensaje in messages %}
        <script type="text/javascript">
            {% if "eliminado" in mensaje %}
                iziToast.error({
                    title: 'Cancelado',
                    message: '{{ mensaje }}',
                    position: 'topRight',
                });
            {% elif "guardado" in mensaje %}
                iziToast.success({
                    title: 'Éxito',
                    message: '{{ mensaje }}',
                    position: 'topRight',
                });
            {% else %}
                iziToast.error({
                    title: 'Error',
                    message: '{{ mensaje }}',
                    position: 'topRight',
                });
            {% endif %}
        </script>
    {% endfor %}
{% endif %}

</html>
