<!doctype html>
{% load static %}
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Solicitar Restablecimiento de Contraseña</title>
  <link rel="shortcut icon" type="image/png" href="../assets/images/logos/favicon.png" />
  <link rel="stylesheet" href="{% static 'css/styles.min.css' %}" />
  <link rel="stylesheet" href="{% static 'css/estilo_validacion.css' %}" />
  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <!-- jQuery Validate -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
  <!-- IziToast -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/css/iziToast.css" integrity="sha512-DIW4FkYTOxjCqRt7oS9BFO+nVOwDL4bzukDyDtMO7crjUZhwpyrWBFroq+IqRe6VnJkTpRAS6nhDvf0w+wHmxg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/js/iziToast.min.js" integrity="sha512-Zq9o+E00xhhR/7vJ49mxFNJ0KQw1E1TMWkPTxrWcnpfEFDEXgUiwJHIKit93EW/XxE31HSI5GEOW06G6BF1AtA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <div class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
      <div class="d-flex align-items-center justify-content-center w-100">
        <div class="row justify-content-center w-100">
          <div class="col-md-8 col-lg-6 col-xxl-3">
            <div class="card mb-0">
              <div class="card-body">
                <div class="text-center">
                  <a href="{% url 'index' %}" class="text-nowrap logo-img">
                    <img src="{% static 'images/logo.png' %}" width="165" alt="" />
                  </a>
                  <p class="text-center">Restablecer Contraseña</p>
                </div>
                <form id="request_reset_form" method="post">
                  {% csrf_token %}
                  <div class="mb-3">
                    <label for="email" class="form-label">Correo Electrónico</label>
                    <input type="email" class="form-control" name="email" id="email" required>
                    <div class="error-message-email text-danger"></div>
                  </div>
                  <button type="submit" class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2">Enviar Código</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

{% if messages %}
  {% for mensaje in messages %}
    <script type="text/javascript">
      var mensajeTexto = "{{ mensaje|escapejs }}";
      if (mensajeTexto.includes("eliminado")) {
        iziToast.error({
          title: 'Cancelado',
          message: mensajeTexto,
          position: 'topRight',
        });
      } else if (mensajeTexto.includes("guardado")) {
        iziToast.success({
          title: 'Éxito',
          message: mensajeTexto,
          position: 'topRight',
        });
      } else {
        iziToast.error({
          title: 'Error',
          message: mensajeTexto,
          position: 'topRight',
        });
      }
    </script>
  {% endfor %}
{% endif %}

<script>
  $(document).ready(function() {
    // Método personalizado para validar dominios de correo comunes
    $.validator.addMethod("commonDomain", function(value, element) {
      const commonDomains = ["gmail.com", "gmail.es", "yahoo.com", "yahoo.es", "hotmail.com", "hotmail.es", "outlook.com", "outlook.es", "live.com", "live.es", "icloud.com"];
      const domain = value.split('@')[1];
      return this.optional(element) || commonDomains.includes(domain);
    }, "Ingrese un correo electrónico personal válido");

    // Validación del formulario
    $("#request_reset_form").validate({
      rules: {
        email: {
          required: true,
          email: true,
          commonDomain: true
        }
      },
      messages: {
        email: {
          required: "El correo electrónico es requerido",
          email: "Ingrese un correo electrónico válido",
          commonDomain: "Ingrese un correo electrónico personal válido"
        }
      },
      errorPlacement: function(error, element) {
        error.appendTo(element.next(".error-message-email"));
      }
    });
  });
</script>
</html>
