{% extends 'doc_plantilla.html' %}

{% block doc_contenido %}
<div class="col-lg-12">
  <div class="row">
    <div class="col-lg-12">
      <!-- Yearly Breakup -->
      <div class="card overflow-hidden">
        <div class="card-body p-4">
          <div class="d-sm-flex d-block align-items-center justify-content-between mb-9">
            <div class="mb-3 mb-sm-0">
              <h5 class="card-title fw-semibold">Alergias</h5>
            </div>
            <div class="ml-auto">
              <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#alergyModal" title="Añadir alergia">
                <i class="fa-solid fa-calendar-plus"></i>
              </button>
            </div>
          </div>
          <div class="row align-items-center">
            <table id="tbl_horarios" class="table text-nowrap mb-0 align-middle">
              <thead class="text-dark fs-4">
                <tr>
                  <th class="border-bottom-0">
                    <h6 class="fw-semibold mb-0">#</h6>
                  </th>
                  <th class="border-bottom-0 text-center">
                    <h6 class="fw-semibold mb-0">Nombre de Alergia</h6>
                  </th>
                  <th class="border-bottom-0 text-center">
                    <h6 class="fw-semibold mb-0">Acciones</h6>
                  </th>
                </tr>
              </thead>
              <tbody>
                {% for alergia in alergias %}
                  <tr>
                      <td>{{ alergia.id }}</td>
                      <td class="text-center">{{alergia.nombreAlergia}}</td>
                      <td class="text-center">
                        <button type="button" class="btn btn-outline-warning rounded-pill" data-bs-toggle="modal" data-bs-target="#exampleModal"
                          data-id="{{ cita.id }}" data-diah="{{ cita.fech_da|date:'Y-m-d' }}" data-horario="{{ cita.time_da|time:'H:i' }}" data-nom="{{cita.nom_da}}" data-telf="{{cita.telf_da}}"
                          data-cortesia="{{cita.cort_da}}">
                           <i class="fas fa-edit"></i>
                        </button>
                          <a href="javascript:void(0)" onclick="delete_adci('/delete_adci/{{ cita.id }}');" class="btn btn-outline-danger rounded-pill"><i class="fa fa-trash"></i></a>
                      </td>
                  </tr>
                  {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal añadir Alergias-->
  <div class="modal fade" id="alergyModal" tabindex="-1" aria-labelledby="alergyModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="alergyModalLabel">Añadir alergia</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form class="" action="{% url 'newalergia' %}" method="post">
            {% csrf_token %}
            <div class="form-floating mb-3">
              <input type="text" id="nombreAlergia" name="nombreAlergia" class="form-control" placeholder="Nombre de la alergia:">
              <label for="nombreAlergia">Nombre de la alergia:</label>
              <div id="error-nom_da" class="error-messages"></div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-success">Guardar alergia</button>
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- CONFIGURACIÓN DE TABLA -->
  <script type="text/javascript">
    $(document).ready(function() {
        $('#tbl_horarios').DataTable( {
            dom: 'frtip',
            language: {
                url: "https://cdn.datatables.net/plug-ins/1.10.25/i18n/Spanish.json"
            },
            initComplete: function () {
                $('.dataTables_filter input[type="search"]').addClass('form-control');
            },
            pageLength: 7,
            drawCallback: function(settings) {
                // Aplicar las clases a los botones de paginación después de cada redibujo
                $('.paginate_button').addClass('btn btn-outline-primary');
            }
        });
    });
  </script>
{% endblock %}
