{% extends 'doc_plantilla.html' %}

{% block doc_contenido %}

<div class="col-lg-7">
  <div class="row">
    <div class="col-lg-12">
      <!-- Yearly Breakup -->
      <div class="card overflow-hidden">
        <div class="card-body p-4">
          <div class="d-flex justify-content-between align-items-center">
             <h5 class="card-title mb-9 fw-semibold">Registrar a mamá</h5>
             <button type="button" name="button" class="btn btn-outline-info rounded-pill"
                     title="Si el representante no está registrado, por favor realice este formulario." data-toggle="tooltip">
               <i class="fa-solid fa-question"></i>
             </button>
           </div>
          <div class="row align-items-center">
            <form action="" method="POST" id="vldt_dias">
              {% csrf_token %}
              <br>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-floating mb-3">
                    <input type="text" class="form-control" name="nom_mom" id="nom_mom" placeholder="Paciente" required>
                    <label for="nom_mom">Nombres de la madre:</label>
                    <div id="error-nom_da" class="error-messages"></div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-floating mb-3">
                    <input type="text" class="form-control" name="ape_mom" id="ape_mom" placeholder="Paciente" required>
                    <label for="ape_mom">Apellidos de la madre:</label>
                    <div id="error-nom_da" class="error-messages"></div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-floating mb-3">
                    <input type="text" class="form-control" name="es_cimom" id="es_cimom" placeholder="Paciente" value="" required>
                    <label for="es_cimom">Estado Civil:</label>
                    <div id="error-nom_da2" class="error-messages"></div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-floating mb-3">
                    <input type="text" class="form-control" name="age_mom" id="age_mom" placeholder="Paciente" value="" required>
                    <label for="age_mom">Edad:</label>
                    <div id="error-nom_da2" class="error-messages"></div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-floating mb-3">
                    <input type="text" class="form-control" name="hij_mom" id="hij_mom" placeholder="Paciente" value="" required>
                    <label for="hij_mom"># Hijos:</label>
                    <div id="error-nom_da2" class="error-messages"></div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-floating mb-3">
                    <input type="text" class="form-control" name="act_mom" id="act_mom" placeholder="Paciente" required>
                    <label for="act_mom">Actividad:</label>
                    <div id="error-nom_da" class="error-messages"></div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-floating mb-3">
                    <input type="text" class="form-control" name="correo_mom" id="correo_mom" placeholder="Paciente" required>
                    <label for="correo_mom">Correo:</label>
                    <div id="error-nom_da" class="error-messages"></div>
                  </div>
                </div>
              </div>
              <button type="submit" class="btn btn-outline-primary rounded-pill m-2">Registrar</button>
              <button type="reset" name="button" class="btn btn-outline-danger rounded-pill m-2">Cancelar</button>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-lg-5 align-items-strech">
  <div class="card w-100">
    <div class="card-body">
      <div class="d-flex justify-content-between align-items-center">
         <h5 class="card-title mb-9 fw-semibold">Añadir representantes</h5>
         <button type="button" name="button" class="btn btn-outline-info rounded-pill"
                 title="Si el representante ya se encuentra registrado, por favor añadirlo en este apartado" data-toggle="tooltip">
           <i class="fa-solid fa-question"></i>
         </button>
       </div>
      <form action="/aggagenda_adci/" method="POST" id="vldt_dias">
        {% csrf_token %}
        <input type="hidden" name="" value="{{pacientes.idPat}}">
        <br>
        <div class="form-floating mb-3">
          <select name="id_gen" id="id_gen" class="form-control" required>
              <option value="">Escoga un representante</option>
              {% for genero in generos %}
              <option value="{{ genero.id }}">{{ genero.nombreGen }}</option>
              {% endfor %}
          </select>
          <label for="id_gen">Madre:</label>
          <div id="error-nom_da2" class="error-messages"></div>
        </div>
        <div class="form-floating mb-3">
          <select name="id_gen" id="id_gen" class="form-control" required>
              <option value="">Escoga un representante</option>
              {% for genero in generos %}
              <option value="{{ genero.id }}">{{ genero.nombreGen }}</option>
              {% endfor %}
          </select>
          <label for="id_gen">Padre:</label>
          <div id="error-nom_da2" class="error-messages"></div>
        </div>
        <div class="text-center d-grid gap-2 col-6 mx-auto">
          <button type="submit" class="btn btn-outline-primary rounded-pill m-2">Añadir</button>
        </div>


      </form>
    </div>
  </div>
</div>

<div class="col-lg-7">
  <div class="row">
    <div class="col-lg-12">
      <!-- Yearly Breakup -->
      <div class="card overflow-hidden">
        <div class="card-body p-4">
          <div class="d-flex justify-content-between align-items-center">
             <h5 class="card-title mb-9 fw-semibold">Registrar a Papá</h5>
             <button type="button" name="button" class="btn btn-outline-info rounded-pill"
                     title="Si el representante no está registrado, por favor realice este formulario." data-toggle="tooltip">
               <i class="fa-solid fa-question"></i>
             </button>
           </div>

           <script>
             $(document).ready(function() {
               $('[data-toggle="tooltip"]').tooltip();
             });
           </script>
          <div class="row align-items-center">
            <form action="" method="POST" id="vldt_dias">
              {% csrf_token %}
              <br>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-floating mb-3">
                    <input type="text" class="form-control" name="namePat" id="namePat" placeholder="Paciente" required>
                    <label for="namePat">Nombres del padre:</label>
                    <div id="error-nom_da" class="error-messages"></div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-floating mb-3">
                    <input type="text" class="form-control" name="ape_fat" id="ape_fat" placeholder="Paciente" required>
                    <label for="ape_fat">Apellidos del padre:</label>
                    <div id="error-nom_da" class="error-messages"></div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-9">
                  <div class="form-floating mb-3">
                    <input type="text" class="form-control" name="act_fat" id="act_fat" placeholder="Paciente" required>
                    <label for="act_fat">Actividad:</label>
                    <div id="error-nom_da" class="error-messages"></div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-floating mb-3">
                    <input type="text" class="form-control" name="age_fat" id="age_fat" placeholder="Paciente" required>
                    <label for="age_fat">Edad:</label>
                    <div id="error-nom_da" class="error-messages"></div>
                  </div>
                </div>
              </div>
              <button type="submit" class="btn btn-outline-primary rounded-pill m-2">Registrar</button>
              <button type="reset" name="button" class="btn btn-outline-danger rounded-pill m-2">Cancelar</button>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    $('[data-toggle="tooltip"]').tooltip();
  });
</script>
{% endblock %}
