{% extends 'doc_plantilla.html' %}

{% block doc_contenido %}
<div class="">
  <a href="{% url 'doc_patient' pacientes.idPat %}" class="btn btn-secondary"><i class="fa-solid fa-left-long"></i></a>
</div>
<br><br>
<div class="accordion" id="accordionPanelsStayOpenExample">
  <!-- Formulario para Registrar a Mamá -->
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMom" aria-expanded="true" aria-controls="collapseMom">
        Registrar a Mamá
      </button>
    </h2>
    <div id="collapseMom" class="accordion-collapse collapse show">
      <div class="accordion-body">
        <div class="d-flex justify-content-between align-items-center">
          <h5 class="card-title mb-3 fw-semibold">Registrar a Mamá</h5>
          <button type="button" class="btn btn-outline-info rounded-pill" title="Si el representante no está registrado, por favor realice este formulario." data-toggle="tooltip">
            <i class="fa-solid fa-question"></i>
          </button>
        </div>
        <br>
        <form action="{% url 'agg_mom' idPat=pacientes.idPat %}" method="POST" id="vldt_dias">
          {% csrf_token %}
          <div class="row">
            <div class="col-md-6">
              <div class="form-floating mb-3">
                <input type="text" class="form-control" name="nom_mom" id="nom_mom" placeholder="Paciente" required>
                <label for="nom_mom">Nombres de la madre:</label>
                <div id="error-nom_da" class="error-messages"></div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-floating mb-3">
                <input type="text" class="form-control" name="ape_mom" id="ape_mom" placeholder="Paciente" required>
                <label for="ape_mom">Apellidos de la madre:</label>
                <div id="error-nom_da" class="error-messages"></div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-floating mb-3">
                <select class="form-control" name="es_cimom" id="es_cimom" required>
                  <option value="">Seleccione un estado civil</option>
                  <option value="Soltero/a">Soltero/a</option>
                  <option value="Casado/a">Casado/a</option>
                  <option value="Divorciado/a">Divorciado/a</option>
                  <option value="Viudo/a">Viudo/a</option>
                  <option value="Separado/a">Separado/a</option>
                  <option value="Unión libre">Unión libre</option>
                </select>
                <label for="es_cimom">Estado Civil:</label>
                <div id="error-nom_da2" class="error-messages"></div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-floating mb-3">
                <input type="date" class="form-control" name="age_mom" id="age_mom" placeholder="Paciente" value="" required>
                <label for="age_mom">Fecha de Nacimiento:</label>
                <div id="error-nom_da2" class="error-messages"></div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-floating mb-3">
                <input type="text" class="form-control" name="hij_mom" id="hij_mom" placeholder="Paciente" value="" required>
                <label for="hij_mom"># Hijos:</label>
                <div id="error-nom_da2" class="error-messages"></div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-floating mb-3">
                <input type="text" class="form-control" name="act_mom" id="act_mom" placeholder="Paciente" required>
                <label for="act_mom">Actividad:</label>
                <div id="error-nom_da" class="error-messages"></div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-floating mb-3">
                <input type="text" class="form-control" name="correo_mom" id="correo_mom" placeholder="Paciente" required>
                <label for="correo_mom">Correo:</label>
                <div id="error-nom_da" class="error-messages"></div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 text-center">
              <button type="submit" class="btn btn-outline-primary rounded-pill m-2">Registrar</button>
              <button type="reset" class="btn btn-outline-danger rounded-pill m-2">Cancelar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Formulario para Añadir a Mamá -->
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseAddMom" aria-expanded="false" aria-controls="collapseAddMom">
        Añadir a Mamá
      </button>
    </h2>
    <div id="collapseAddMom" class="accordion-collapse collapse">
      <div class="accordion-body">
        <div class="d-flex justify-content-between align-items-center">
          <h5 class="card-title mb-3 fw-semibold">Añadir a Mamá</h5>
          <button type="button" class="btn btn-outline-info rounded-pill" title="Si el representante ya se encuentra registrado, por favor añadirlo en este apartado" data-toggle="tooltip">
            <i class="fa-solid fa-question"></i>
          </button>
        </div>
        <br>
        <form action="{% url 'agg_mompat' idPat=pacientes.idPat %}" method="POST" id="vldt_dias">
          {% csrf_token %}
          <input type="hidden" name="idPat" id="idPat" value="{{pacientes.idPat}}">
          <div class="form-floating mb-3">
            <select name="id_mom" id="id_mom" class="form-control" required>
              <option value="">Escoga un representante</option>
              {% for mama in mom %}
              <option value="{{ mama.id }}">{{mama.ape_mom}} {{ mama.nom_mom }}</option>
              {% endfor %}
            </select>
            <label for="id_gen">Madre:</label>
            <div id="error-nom_da2" class="error-messages"></div>
          </div>
          <div class="row">
            <div class="col-12 text-center">
              <button type="submit" class="btn btn-outline-primary rounded-pill m-2">Añadir</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Formulario para Registrar a Papá -->
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDad" aria-expanded="false" aria-controls="collapseDad">
        Registrar a Papá
      </button>
    </h2>
    <div id="collapseDad" class="accordion-collapse collapse">
      <div class="accordion-body">
        <div class="d-flex justify-content-between align-items-center">
          <h5 class="card-title mb-3 fw-semibold">Registrar a Papá</h5>
          <button type="button" class="btn btn-outline-info rounded-pill" title="Si el representante no está registrado, por favor realice este formulario." data-toggle="tooltip">
            <i class="fa-solid fa-question"></i>
          </button>
        </div>
        <br>
        <form action="{% url 'agg_dad' idPat=pacientes.idPat %}" method="POST" id="vldt_dias">
          {% csrf_token %}
          <div class="row">
            <div class="col-md-6">
              <div class="form-floating mb-3">
                <input type="text" class="form-control" name="nom_fat" id="nom_fat" placeholder="Nombre del padre" required>
                <label for="nom_fat">Nombres del padre:</label>
                <div id="error-nom_da" class="error-messages"></div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-floating mb-3">
                <input type="text" class="form-control" name="ape_fat" id="ape_fat" placeholder="Paciente" required>
                <label for="ape_fat">Apellidos del padre:</label>
                <div id="error-nom_da" class="error-messages"></div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8">
              <div class="form-floating mb-3">
                <input type="text" class="form-control" name="act_fat" id="act_fat" placeholder="Paciente" required>
                <label for="act_fat">Actividad:</label>
                <div id="error-nom_da" class="error-messages"></div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-floating mb-3">
                <input type="date" class="form-control" name="age_fat" id="age_fat" placeholder="Paciente" required>
                <label for="age_fat">Edad:</label>
                <div id="error-nom_da" class="error-messages"></div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 text-center">
              <button type="submit" class="btn btn-outline-primary rounded-pill m-2">Registrar</button>
              <button type="reset" class="btn btn-outline-danger rounded-pill m-2">Cancelar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Formulario para Añadir a Papá -->
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseAddDad" aria-expanded="false" aria-controls="collapseAddDad">
        Añadir a Papá
      </button>
    </h2>
    <div id="collapseAddDad" class="accordion-collapse collapse">
      <div class="accordion-body">
        <div class="d-flex justify-content-between align-items-center">
          <h5 class="card-title mb-3 fw-semibold">Añadir a Papá</h5>
          <button type="button" class="btn btn-outline-info rounded-pill" title="Si el representante ya se encuentra registrado, por favor añadirlo en este apartado" data-toggle="tooltip">
            <i class="fa-solid fa-question"></i>
          </button>
        </div>
        <br>
        <form action="{% url 'agg_dadpat' idPat=pacientes.idPat %}" method="POST" id="vldt_dias">
          {% csrf_token %}
          <input type="hidden" name="idPat" id="idPat" value="{{pacientes.idPat}}">
          <div class="form-floating mb-3">
            <select name="id_dad" id="id_dad" class="form-control" required>
              <option value="">Escoga un representante</option>
              {% for papa in dad %}
              <option value="{{ papa.id }}">{{papa.ape_fat}} {{ papa.nom_fat }}</option>
              {% endfor %}
            </select>
            <label for="id_gen">Padre:</label>
            <div id="error-nom_da2" class="error-messages"></div>
          </div>
          <div class="row">
            <div class="col-12 text-center">
              <button type="submit" class="btn btn-outline-primary rounded-pill m-2">Añadir</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    $('[data-toggle="tooltip"]').tooltip();
  });
</script>

{% endblock %}
