{% extends 'doc_plantilla.html' %}

{% block doc_contenido %}
<div class="col-lg-12">
  <div class="row">
    <div class="col-lg-12">
      <!-- Yearly Breakup -->
      <div class="card overflow-hidden">
        <div class="card-body p-4">
          <div class="d-sm-flex d-block align-items-center justify-content-between mb-9">
            <div class="mb-3 mb-sm-0">
              <h5 class="card-title fw-semibold">Medicamentos</h5>
            </div>
            <div class="ml-auto">
              <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#medicamentoModal" title="Añadir alergia">
                <i class="fa-solid fa-plus"></i>
              </button>
            </div>
          </div>
          <div class="row align-items-center">
            <table id="tbl_horarios" class="table text-nowrap mb-0 align-middle">
              <thead class="text-dark fs-4">
                <tr>
                  <th class="border-bottom-0">
                    <h6 class="fw-semibold mb-0">#</h6>
                  </th>
                  <th class="border-bottom-0 text-center">
                    <h6 class="fw-semibold mb-0">Nombre Genérico</h6>
                  </th>
                  <th class="border-bottom-0 text-center">
                    <h6 class="fw-semibold mb-0">Nombre Comercial</h6>
                  </th>
                  <th class="border-bottom-0 text-center">
                    <h6 class="fw-semibold mb-0">Tipo</h6>
                  </th>
                  <th class="border-bottom-0 text-center">
                    <h6 class="fw-semibold mb-0">Acciones</h6>
                  </th>
                </tr>
              </thead>
              <tbody>
                {% for medicina in medicinas %}
                  <tr>
                      <td>{{ medicina.id }}</td>
                      <td class="text-center">{{medicina.nombregen_med}}</td>
                      <td class="text-center">{{medicina.nombrecom_med}}</td>
                      <td class="text-center">{{medicina.tipo_med}}</td>
                      <td class="text-center">
                        <button type="button" class="btn btn-outline-warning rounded-pill" data-bs-toggle="modal" data-bs-target="#editMedModal" data-id="{{ medicina.id }}" data-nombregen="{{ medicina.nombregen_med }}" data-nombrecom="{{ medicina.nombrecom_med }}" data-tipo="{{ medicina.tipo_med }}">
                          <i class="fas fa-edit"></i>
                        </button>
                          <a href="javascript:void(0)" onclick="deleteMedicina('{% url 'deleteMedicina' id=medicina.id %}');" class="btn btn-outline-danger rounded-pill"><i class="fa fa-trash"></i></a>
                      </td>
                  </tr>
                  {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal añadir Medicamento-->
  <div class="modal fade" id="medicamentoModal" tabindex="-1" aria-labelledby="medicamentoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="medicamentoModalLabel">Añadir Medicamento <i class="fa-solid fa-tablets text-success"></i></h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form class="" action="{% url 'newMedicina' %}" method="post">
            {% csrf_token %}
            <div class="form-floating mb-3">
              <input type="text" id="nombregen_med" name="nombregen_med" class="form-control" placeholder="Nombre de la alergia:">
              <label for="nombregen_med">Nombre genérico:</label>
              <div id="error-nom_da" class="error-messages"></div>
            </div>
            <div class="form-floating mb-3">
              <input type="text" id="nombrecom_med" name="nombrecom_med" class="form-control" placeholder="Nombre de la alergia:">
              <label for="nombrecom_med">Nombre comercial:</label>
              <div id="error-nom_da" class="error-messages"></div>
            </div>
            <div class="form-floating mb-3">
              <input type="text" id="tipo_med" name="tipo_med" class="form-control" placeholder="Nombre de la alergia:">
              <label for="tipo_med">Tipo de medicina:</label>
              <div id="error-nom_da" class="error-messages"></div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-success">Guardar medicamento</button>
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal editar Medicamento-->
  <div class="modal fade" id="editMedModal" tabindex="-1" aria-labelledby="editMedModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="editMedModalLabel">Editar Medicamento</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="post" id="medicina-form">
            {% csrf_token %}
            <input type="hidden" name="id" id="med-id">
            <div class="form-floating mb-3">
              <input type="text" id="nombregen_med" name="nombregen_med" class="form-control" placeholder="Nombre genérico">
              <label for="nombregen_med">Nombre genérico:</label>
              <div id="error-nom_da" class="error-messages"></div>
            </div>
            <div class="form-floating mb-3">
              <input type="text" id="nombrecom_med" name="nombrecom_med" class="form-control" placeholder="Nombre comercial">
              <label for="nombrecom_med">Nombre comercial:</label>
              <div id="error-nom_da" class="error-messages"></div>
            </div>
            <div class="form-floating mb-3">
              <input type="text" id="tipo_med" name="tipo_med" class="form-control" placeholder="Tipo de medicina">
              <label for="tipo_med">Tipo de medicina:</label>
              <div id="error-nom_da" class="error-messages"></div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-warning" id="editarMedBtn" disabled>Editar medicamento</button>
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var editMedModal = document.getElementById('editMedModal');
      var form = document.getElementById('medicina-form');
      var editButton = document.getElementById('editarMedBtn');
      var initialNombregenMed = '';
      var initialNombrecomMed = '';
      var initialTipoMed = '';

      editMedModal.addEventListener('show.bs.modal', function (event) {
        var button = event.relatedTarget; // Botón que activó el modal
        var id = button.getAttribute('data-id');
        var nombregen_med = button.getAttribute('data-nombregen');
        var nombrecom_med = button.getAttribute('data-nombrecom');
        var tipo_med = button.getAttribute('data-tipo');

        // Rellenar el formulario del modal con los datos del medicamento
        var idInput = editMedModal.querySelector('#med-id');
        var nombregenMedInput = editMedModal.querySelector('#nombregen_med');
        var nombrecomMedInput = editMedModal.querySelector('#nombrecom_med');
        var tipoMedInput = editMedModal.querySelector('#tipo_med');

        idInput.value = id;
        nombregenMedInput.value = nombregen_med;
        nombrecomMedInput.value = nombrecom_med;
        tipoMedInput.value = tipo_med;
        initialNombregenMed = nombregen_med;
        initialNombrecomMed = nombrecom_med;
        initialTipoMed = tipo_med;

        // Deshabilitar el botón de editar inicialmente
        editButton.disabled = true;

        // Actualizar la acción del formulario
        form.action = '{% url "editMedicina" id=0 %}'.replace('0', id);
      });

      form.addEventListener('input', function() {
        if (form.nombregen_med.value.trim() !== initialNombregenMed.trim() ||
            form.nombrecom_med.value.trim() !== initialNombrecomMed.trim() ||
            form.tipo_med.value.trim() !== initialTipoMed.trim()) {
          editButton.disabled = false;
        } else {
          editButton.disabled = true;
        }
      });

      $('#editMedModal').on('hidden.bs.modal', function () {
        editButton.disabled = true;
      });
    });
  </script>

  <!-- CONFIGURACIÓN DE TABLA -->
  <script type="text/javascript">
    $(document).ready(function() {
        $('#tbl_horarios').DataTable( {
            dom: 'frtip',
            language: {
                url: "https://cdn.datatables.net/plug-ins/1.10.25/i18n/Spanish.json"
            },
            initComplete: function () {
                $('.dataTables_filter input[type="search"]').addClass('form-control');
            },
            pageLength: 7,
            drawCallback: function(settings) {
                // Aplicar las clases a los botones de paginación después de cada redibujo
                $('.paginate_button').addClass('btn btn-outline-primary');
            }
        });
    });
  </script>

<!-- MENSAJE DE CONFIRMACIÓN ELIMINAR DÍA HORARIO -->
<script type="text/javascript">
        function deleteMedicina(url){
          iziToast.question({
              timeout: 15000,
              close: true,
              overlay: true,
              displayMode: 'once',
              id: 'question',
              zindex: 999,
              title: 'CONFIRMACIÓN',
              message: '¿Está seguro de eliminar la <b>cita </b> seleccionada?',
              position: 'center',
              buttons: [
                  ['<button><b>SI</b></button>', function (instance, toast) {
                      instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                      window.location.href=url;
                  }, true],
                  ['<button>NO</button>', function (instance, toast) {
                      instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                  }],
              ]
          });
        }
</script>
{% endblock %}
