{% extends 'doc_plantilla.html' %}
{% block doc_contenido %}
<div class="">
  <a href="{% url 'doc_patient' pacientes.idPat %}" class="btn btn-outline-secondary"><i class="fa-solid fa-left-long"></i></a>
</div>
<br><br><br>
<div class="col-lg-12">
  <div class="row">
    <div class="col-lg-12">
      <!-- Yearly Breakup -->
      <div class="card overflow-hidden">
        <div class="card-body p-4">
          <div class="d-flex justify-content-between align-items-center">
            <h5 class="card-title mb-9 fw-semibold">Observación #{{observaciones.id}} de {{pacientes.namePat}} {{pacientes.lastnPat}}</h5>
            <button type="button" class="btn btn-outline-warning rounded-pill" data-bs-toggle="modal" data-bs-target="#editobsModal" title="Editar Observación">
                <i class="fa fa-edit"></i>
            </button>
          </div>
          <br>
          <div class="row align-items-center">
            <div class="col-md-6 text-center">
              <h6><b>Primera sección</b></h6>
              <p>{{observaciones.firstsect}}</p>
            </div>
            <div class="col-md-6 text-center">
              <h6><b>Segunda sección</b></h6>
              <p>{{observaciones.secondsect}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Modal de Editar Observaciones -->
<div class="modal fade" id="editobsModal" tabindex="-1" aria-labelledby="editobsModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editobsModalLabel">Editar Observación</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="addObservacionForm" method="post" action="{% url 'edit_obs' id=observaciones.id %}">
          {% csrf_token %}
          <input type="hidden" name="id" id="id" value="{{observaciones.id}}">
          <div class="row">
            <div class="col-md-6">
              <div class="form-floating mb-3">
                <textarea class="form-control" name="firstsect" id="firstsect" style="height: 150px;">{{observaciones.firstsect}}</textarea>
                <label for="firstsect">Primera sección:</label>
                <div id="error-nom_da" class="error-messages"></div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-floating mb-3">
                <textarea class="form-control" name="secondsect" id="secondsect" style="height: 150px;">{{observaciones.secondsect}}</textarea>
                <label for="secondsect">Segunda Sección:</label>
                <div id="error-nom_da" class="error-messages"></div>
              </div>
            </div>
          </div>
          <div class="form-check mb-3">
            <input class="form-check-input" type="checkbox" value="" id="courtesyVisit" name="courtesyVisit">
            <label class="form-check-label" for="courtesyVisit">
              Cita de cortesía?
            </label>
          </div>
          <button type="submit" class="btn btn-outline-success mt-3">Añadir Observación</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="row">
            <div class="col-lg-12">
                <div class="card overflow-hidden">
                    <div class="card-body p-4">
                        <div class="d-flex justify-content-between align-items-center">
                            <h5 class="card-title mb-9 fw-semibold">Detalles</h5>
                            {% if diagnosticos %}
                            <button type="button" class="btn btn-outline-warning rounded-pill" data-bs-toggle="modal" data-bs-target="#editDiaModal" title="Añadir información">
                                <i class="fa fa-edit"></i>
                            </button>
                            {% else %}
                            <button type="button" class="btn btn-outline-success rounded-pill" data-bs-toggle="modal" data-bs-target="#diagnosticoModal" title="Añadir información">
                                <i class="fa-solid fa-plus"></i>
                            </button>
                            {% endif %}
                        </div>
                        <br>
                        <div class="row align-items-center mb-3">
                            {% if diagnosticos %}
                            <div class="col-md-12">
                                {% for diagnostico in diagnosticos %}
                                <div class="row mb-2">
                                    <div class="col-md-6">
                                        <p><b>#{{ diagnostico.id }}</b></p>
                                    </div>
                                    <div class="col-md-6 text-end">
                                        <p><b>Fecha:</b> {{ diagnostico.creation }}</p>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-md-7">
                                        <p><b>Nombre:</b> {{ pacientes.namePat }} {{ pacientes.lastnPat }}</p>
                                    </div>
                                    <div class="col-md-2 text-end">
                                        <p><b>Sexo:</b> {% if pacientes.genPat == 'Masculino' %}M{% else %}F{% endif %}</p>
                                    </div>
                                    <div class="col-md-3 text-end">
                                        <p><b>Edad:</b> {{ observaciones.new_age }}</p>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-md-4">
                                        <p><b>Nacionalidad:</b> {{ pacientes.natiPat|slice:":3"|upper }}</p>
                                    </div>
                                    <div class="col-md-5">
                                        <p><b>Dirección:</b> {{ pacientes.placePat }}</p>
                                    </div>
                                    <div class="col-md-3 text-end">
                                        <p><b>CI:</b> {{ pacientes.ciPat }}</p>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-md-6">
                                        <p><b>Tratamiento:</b> {{ diagnostico.tratamiento }}</p>
                                    </div>
                                    <div class="col-md-6">
                                        <p><b>CIE10:</b>
                                            {% for cie in diagnostico.cies.all %}
                                            {{ cie.cod3 }}
                                            {% if not forloop.last %}, {% endif %}
                                            {% endfor %}
                                        </p>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-md-6">
                                        <p><b>Alergias:</b>
                                            {% if alergias %}
                                            {% for alergia in alergias %}
                                            {{ alergia.alergia.nombreAlergia }}
                                            {% if not forloop.last %}, {% endif %}
                                            {% endfor %}
                                            {% else %}
                                            No
                                            {% endif %}
                                        </p>
                                    </div>
                                    <div class="col-md-6">
                                        <p><b>Contacto:</b> {{ pacientes.cell }}</p>
                                    </div>
                                </div>

                                <div class="">
                                    <h6 class="text-info text-center"><b>RECETA</b></h6>
                                    {% if recetas %}
                                    <div class="table-responsive">
                                      <table class="table borderless">
                                        <thead>
                                          <tr>
                                            <th>Nombre Genérico</th>
                                            <th>Nombre Comercial</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          {% for receta in recetas %}
                                          <tr>
                                            <td>{{receta.medicamento.nombregen_med}} <br> {{receta.medicamento.tipo_med}}</td>
                                            <td>{{receta.medicamento.nombrecom_med}} <br> {{ receta.total }} ({{ receta.total_words }})</td>
                                          </tr>
                                          {% endfor %}
                                        </tbody>
                                      </table>
                                    </div>
                                    {% else %}
                                    <p>Sin datos</p>
                                    {% endif %}

                                    <div class="text-center">
                                        <button type="button" class="btn btn-outline-success rounded-pill" data-bs-toggle="modal" data-bs-target="#recetaModal" title="Añadir medicamento">
                                            <i class="fa-solid fa-prescription-bottle-medical"></i>
                                        </button>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            {% else %}
                            <div class="text-center">
                                <p>SIN DETALLES</p>
                            </div>
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="row">
            <div class="col-lg-12">
                <div class="card overflow-hidden">
                    <div class="card-body p-4">
                        <div class="d-flex justify-content-between align-items-center">
                            <h5 class="card-title mb-9 fw-semibold">Indicaciones</h5>
                            {% if recetas %}
                            <a href="{% url 'new_patient' %}" class="btn btn-outline-warning rounded-pill" title="Editar Observación">
                                <i class="fa fa-edit"></i>
                            </a>
                            {% endif %}
                        </div>
                        <br>
                        <div class="row align-items-center">
                            {% if recetas %}
                            {% for diagnostico in diagnosticos %}
                            <div class="row mb-2">
                                <div class="col-md-6">
                                    <p><b>#{{ diagnostico.id }}</b></p>
                                </div>
                                <div class="col-md-6 text-end">
                                    <p><b>Fecha:</b> {{ diagnostico.creation }}</p>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-md-7">
                                    <p><b>Nombre:</b> {{ pacientes.namePat }} {{ pacientes.lastnPat }}</p>
                                </div>
                                <div class="col-md-2 text-end">
                                    <p><b>Sexo:</b> {% if pacientes.genPat == 'Masculino' %}M{% else %}F{% endif %}</p>
                                </div>
                                <div class="col-md-3 text-end">
                                    <p><b>Edad:</b> {{ observaciones.new_age }}</p>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-md-4">
                                    <p><b>Nacionalidad:</b> {{ pacientes.natiPat|slice:":3"|upper }}</p>
                                </div>
                                <div class="col-md-5">
                                    <p><b>Dirección:</b> {{ pacientes.placePat }}</p>
                                </div>
                                <div class="col-md-3 text-end">
                                    <p><b>CI:</b> {{ pacientes.ciPat }}</p>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-md-6">
                                    <p><b>Tratamiento:</b> {{ diagnostico.tratamiento }}</p>
                                </div>
                                <div class="col-md-6">
                                    <p><b>CIE10:</b>
                                        {% for cie in diagnostico.cies.all %}
                                        {{ cie.cod3 }}
                                        {% if not forloop.last %}, {% endif %}
                                        {% endfor %}
                                    </p>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-md-6">
                                    <p><b>Alergias:</b>
                                        {% if alergias %}
                                        {% for alergia in alergias %}
                                        {{ alergia.alergia.nombreAlergia }}
                                        {% if not forloop.last %}, {% endif %}
                                        {% endfor %}
                                        {% else %}
                                        No
                                        {% endif %}
                                    </p>
                                </div>
                                <div class="col-md-6">
                                    <p><b>Contacto:</b> {{ pacientes.cell }}</p>
                                </div>
                            </div>
                            <br><br>
                            <div class="">
                                <h6 class="text-danger text-center"><b>HOJA DE INDICACIONES</b></h6>
                                <p>1. <b>Alimentación:</b> {{diagnostico.alimentacion}} <br> 2.<b>Exámenes:</b> {{diagnostico.examen}}</p>
                                {% if recetas %}
                                <div class="table-responsive">
                                    <table class="table table-striped table-sm">
                                        <thead>
                                            <tr>
                                                <th>MEDICAMENTO</th>
                                                <th>CANTIDAD</th>
                                                <th>VIA</th>
                                                <th>FRECUENCIA</th>
                                                <th>DURACIÓN</th>
                                                <th>ACCIONES</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for receta in recetas %}
                                            <tr>
                                                <td>{{ receta.medicamento.nombregen_med }} <br> {{ receta.medicamento.nombrecom_med }}</td>
                                                <td>{{ receta.cantidad }}</td>
                                                <td>{{ receta.via }}</td>
                                                <td>{{ receta.frecuencia }}</td>
                                                <td>{{ receta.duracion }}</td>
                                                <td>
                                                    <button type="button" class="btn btn-outline-warning rounded-pill" data-bs-toggle="modal" data-bs-target="#editMedModal" data-id="{{ medicina.id }}" data-nombregen="{{ medicina.nombregen_med }}" data-nombrecom="{{ medicina.nombrecom_med }}" data-tipo="{{ medicina.tipo_med }}">
                                                        <i class="fas fa-edit"></i>
                                                    </button>
                                                    <a href="javascript:void(0)" onclick="" class="btn btn-outline-danger rounded-pill"><i class="fa fa-trash"></i></a>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                {% else %}
                                <p>Sin datos</p>
                                {% endif %}
                            </div>
                            {% endfor %}
                            {% else %}
                            <p>SIN DATOS</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal añadir diagnostico -->
<div class="modal fade" id="diagnosticoModal" tabindex="-1" aria-labelledby="diagnosticoModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="diagnosticoModalLabel">Añadir Información</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="" method="post" action="{% url 'addDiagnostico' id=observaciones.id %}">
          {% csrf_token %}
          <div class="form-group">
            <label for="cie">CIE10:</label>
            <select id="cie" name="cie" class="form-control" multiple>
              {% for cie in cies %}
                <option value="{{ cie.id }}">{{ cie.cod3 }} - {{cie.nombrecie}}</option>
              {% endfor %}
            </select>
          </div>
          <br>
          <div class="row">
            <div class="col-md-6">
              <div class="form-floating mb-3">
                <input type="text" id="alimentacion" name="alimentacion" class="form-control" placeholder="Alimentación:">
                <label for="alimentacion">Alimentación:</label>
                <div id="error-nom_da" class="error-messages"></div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-floating mb-3">
                <input type="text" id="examen" name="examen" class="form-control" placeholder="Examen/es:">
                <label for="examen">Examen/es:</label>
                <div id="error-nom_da" class="error-messages"></div>
              </div>
            </div>
          </div>
          <div class="form-group mt-3">
            <label>Tratamiento:</label><br>
            <div class="d-inline-block me-3">
              <input type="radio" id="agudo" name="tratamiento" value="Agudo" required>
              <label for="agudo">Agudo</label>
            </div>
            <div class="d-inline-block">
              <input type="radio" id="cronico" name="tratamiento" value="Crónico" required>
              <label for="cronico">Crónico</label>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-outline-success mt-3">Añadir Información</button>
            <button type="button" class="btn btn-outline-danger mt-3" data-bs-dismiss="modal">Cerrar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- Modal editar diagnostico -->
<div class="modal fade" id="editDiaModal" tabindex="-1" aria-labelledby="editDiaModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="editDiaModalLabel">Añadir Información</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="editDiagnosticoForm" method="post" action="{% url 'editDiagnostico' id=observaciones.id %}">
          {% csrf_token %}
          <input type="hidden" name="id" id="id" value="{{ diagnosticos.0.id }}">
          <div class="form-group">
            <label for="cie">CIE10:</label>
            <select id="cie2" name="cie" class="form-control" multiple>
              {% for cie in cies %}
                <option value="{{ cie.id }}" {% if diagnosticos and cie in diagnosticos.0.cies.all %}selected{% endif %}>{{ cie.cod3 }} - {{ cie.nombrecie }}</option>
              {% endfor %}
            </select>
          </div>
          <br>
          <div class="row">
            <div class="col-md-6">
              <div class="form-floating mb-3">
                <input type="text" id="alimentacion" name="alimentacion" class="form-control" placeholder="Alimentación:" value="{% if diagnosticos %}{{ diagnosticos.0.alimentacion }}{% endif %}">
                <label for="alimentacion">Alimentación:</label>
                <div id="error-nom_da" class="error-messages"></div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-floating mb-3">
                <input type="text" id="examen" name="examen" class="form-control" placeholder="Examen/es:" value="{% if diagnosticos %}{{ diagnosticos.0.examen }}{% endif %}">
                <label for="examen">Examen/es:</label>
                <div id="error-nom_da" class="error-messages"></div>
              </div>
            </div>
          </div>
          <div class="form-group mt-3">
            <label>Tratamiento:</label><br>
            <div class="d-inline-block me-3">
              <input type="radio" id="agudo" name="tratamiento" value="Agudo" {% if diagnosticos and diagnosticos.0.tratamiento == 'Agudo' %}checked{% endif %} required>
              <label for="agudo">Agudo</label>
            </div>
            <div class="d-inline-block">
              <input type="radio" id="cronico" name="tratamiento" value="Crónico" {% if diagnosticos and diagnosticos.0.tratamiento == 'Crónico' %}checked{% endif %} required>
              <label for="cronico">Crónico</label>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-outline-warning mt-3">Editar información</button>
            <button type="button" class="btn btn-outline-danger mt-3" data-bs-dismiss="modal">Cerrar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal añadir receta-->
<div class="modal fade" id="recetaModal" tabindex="-1" aria-labelledby="recetaModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="recetaModalLabel">Añadir Receta</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form id="recetaForm" method="post" action="{% url 'addReceta' id=observaciones.id %}">
                  {% csrf_token %}
                  <input type="hidden" name="id" id="id" value="{{ observaciones.id }}">
                  <div id="formContainer">
                      <div class="receta-form">
                          <div class="form-group mb-3">
                              <label for="medicamentos">Medicinas:</label>
                              <select name="medicamentos" class="selectpicker form-control" data-live-search="true" required>
                                  <option value="">Escoja un medicamento</option>
                                  {% for medicina in medicinas %}
                                  <option value="{{ medicina.id }}">{{ medicina.nombregen_med }} -- {{ medicina.nombrecom_med }} | {{ medicina.tipo_med }}</option>
                                  {% endfor %}
                              </select>
                              <div id="error-nom_da2" class="error-messages"></div>
                          </div>
                          <div class="form-floating mb-3">
                              <input type="number" class="form-control" id="total" name="total" required placeholder="Total de medicinas">
                              <label for="total">Total de medicinas</label>
                          </div>
                          <div class="form-floating mb-3">
                              <input type="text" class="form-control" id="cantidad" name="cantidad" required placeholder="Cantidad unitaria">
                              <label for="cantidad">Cantidad unitaria</label>
                          </div>
                          <div class="form-floating mb-3">
                              <input type="text" class="form-control" id="via" name="via" required placeholder="Vía">
                              <label for="via">Vía</label>
                          </div>
                          <div class="form-floating mb-3">
                              <input type="text" class="form-control" id="frecuencia" name="frecuencia" required placeholder="Frecuencia">
                              <label for="frecuencia">Frecuencia</label>
                          </div>
                          <div class="form-floating mb-3">
                              <input type="text" class="form-control" id="duracion" name="duracion" required placeholder="Duración">
                              <label for="duracion">Duración</label>
                          </div>
                      </div>
                  </div>
                  <div class="modal-footer">
                      <button type="submit" class="btn btn-success">Guardar medicamento</button>
                      <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                  </div>
              </form>
            </div>
        </div>
    </div>
</div>

<!-- SELECTS -->
<script>
  $(document).ready(function() {
    $('#cie').select2({
      width: '100%', // Ajusta el ancho del select2 para que se ajuste al contenedor
      placeholder: 'Seleccione CIE10',
      allowClear: true
    });
    $('#cie2').select2({
      width: '100%', // Ajusta el ancho del select2 para que se ajuste al contenedor
      placeholder: 'Seleccione CIE10',
      allowClear: true
    });
    $('.selectpicker').selectpicker();
  });
</script>

<style>
  .select2-container--open {
    z-index: 9999; /* Ajustar el z-index para asegurarse de que el select2 esté encima del modal */
  }
  .list-container {
    max-height: 200px; /* Ajusta esta altura según tus necesidades */
    overflow-y: auto;
  }
  .table-sm th, .table-sm td {
      padding: 0.3rem;
  }

  .table th, .table td {
      font-size: 0.875rem; /* Ajusta el tamaño de la fuente según sea necesario */
  }

  .table-responsive {
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
  }
  /* Additional CSS for better mobile responsiveness */
  .card-body p {
      margin-bottom: 0.5rem;
  }

  @media (max-width: 767px) {
      .card-body .row {
          margin-bottom: 1rem;
      }
      .table-responsive {
          overflow-x: auto;
      }
      .table th, .table td {
          font-size: 0.8rem;
      }
  }
</style>
{% endblock %}
